<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
	<title th:fragment="title">Devices</title>
	<div th:fragment="content" class="card mb-4">
		<div class="card-header"><i class="fas fa-tablet mr-1"></i><span>Devices</span></div>
		<div class="card-body">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2> <b> Create New Device</b></h2>
					</div>

				</div>
			</div>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
			<form class="card p-3" action="#" method="post"
				  th:action="@{/devices/create}" th:object="${device}"
				  data-parsley-validate="true">
			  <div class="form-group row">
				<label class="control-label col-sm-2" for="name">Name</label>
				<div class="col-sm-10">
					<input class="form-control"
						   id="name" name="name" th:field="*{name}"
						   required
						   data-parsley-required-message="Please provide device name"
						   data-parsley-length="[3, 40]"
						   data-parsley-length-message="Please provide a name between 3 and 40 characters long">
					<p class="small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>
			  </div>
				<div class="form-group row">
				  <label class="control-label col-sm-2" for="type">Type</label>
					  <div class="col-sm-10">
						<select class="form-control" th:field="*{type}"  id="type" required>
							<option value="" >Select...</option>
							<option value="READER">Reader</option>
							<option value="VALIDATOR">Validator</option>
							<option value="READER_VALIDATOR">Reader_Validator</option>
						</select>
					    <p class="small text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
					  </div>
			  </div>
				<div class="form-group row">
					<label class="control-label col-sm-2" for="deviceId">Serial ID</label>
					<div class="col-sm-10">
						<input class="form-control"
							   id="deviceId" name="deviceId" th:field="*{deviceId}"
							   required
							   data-parsley-required-message="Please provide a device id"
							   data-parsley-length="[3, 40]"
							   data-parsley-length-message="Please provide a number between 3 and 40 characters long">
						<p class="small text-danger" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}"></p>
					</div>
				</div>
			   <div class="form-group row">
				<label class="control-label col-sm-2" for="hardwareVersion">Version Hardware</label>
					<div class="col-sm-10">
						<input class="form-control" th:field="*{hardwareVersion}" id="hardwareVersion">
						<p class="small text-danger" th:if="${#fields.hasErrors('hardwareVersion')}" th:errors="*{hardwareVersion}"></p>
					</div>
			  </div>
			   <div class="form-group row">
				<label class="control-label col-sm-2" for="softwareVersion">Version Software</label>
					<div class="col-sm-10">
						<input class="form-control" th:field="*{softwareVersion}" id="softwareVersion">
						<p class="small text-danger" th:if="${#fields.hasErrors('softwareVersion')}" th:errors="*{softwareVersion}"></p>
					</div>
			  </div>
			   <div class="form-group row">
				  <label class="control-label col-sm-2" for="fareType">Fare Type</label>
					  <div class="col-sm-10">
						<select class="form-control" th:field="*{fareType}" id="fareType" required>
							<option value="">Select...</option>
							<option value="FIXED">Fixed</option>
							<option value="VARIABLE">Variable</option>
						</select>
					  </div>
			  </div>
				<div class="form-group row">
					<label class="control-label col-sm-2" for="owner">Assign Device To</label>
					<div class="col-sm-10">
						<select class="form-control" th:field="*{owner}"  id="owner" required>
							<option value="">Select...</option>
							<option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner != null ? owner.username : ''}"></option>
						</select>
						<p class="small text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></p>
					</div>
				</div>
			   <div class="form-group row">
				  <label class="control-label col-sm-2" for="enabled">Active</label>
					  <div class="col-sm-10">
						  <label class="switch">
							  <input type="checkbox" name="enabled" id="enabled">
							  <span class="slider round"></span>
						  </label>
					  </div>
			  </div>
					<button type="submit" class="btn btn-outline-info">Submit</button>
			</form>
		</div>
	</div>
</html>