<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Devices</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-tablet mr-1"></i><span>Devices</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Devices</span></b></h2>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<a href="#" th:href="@{/devices/create}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
							<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
							<a href="#" class="btn btn-info"><i class="fas fa-file-import" aria-hidden="true"></i> Import CSV</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${deleted} ? #{device.deleted.message} : false)"></div>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
			<table cellspacing="0" class="table  table-responsive" id="dataTable" width="100%">
				<thead class='thead-light'>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Device Serial ID</th>
					<th>Type</th>
					<th>Owner</th>
					<th>Active</th>
					<th>View Details</th>
					<th>Remove</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="device : ${devices}">
					<td th:text="${device.id}"></td>
					<td th:text="${device.name}"></td>
					<td th:text="${device.deviceId}"></td>
					<td th:text="${device.type}"></td>
					<td th:text="${device.owner != null ? device.owner.username : ''}"></td>
					<td>
						<label class="switch">
							<input disabled id="enabled" name="enabled" th:checked="${device.enabled}" type="checkbox">
							<span class="slider round"></span>
						</label>
					</td>
					<td>
						<a class="justify-content-center" th:href="@{/devices/details/{id}(id=${device.id})}">
							<button class='btn btn-primary btn-sm' type='button'><i class='far fa-eye'></i></button>
						</a>
					</td>
					<td>
						<a class="justify-content-center" th:href="@{/devices/delete/{id}(id=${device.id})}">
							<button class='btn btn-danger btn-sm' type='button'><i class='far fa-trash-alt'></i>
							</button>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>