<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title layout:fragment="title"></title>
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="#" rel="stylesheet" crossorigin="anonymous" />
        <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/vendor/datatables/datatables.min.css}"/>
        <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/vendor/font-awesome/css/all.min.css}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link th:href="@{/css/styles.css}" href="#" rel="stylesheet" crossorigin="anonymous" />
        <link th:href="@{/css/seatreserve.css}" href="#" rel="stylesheet" crossorigin="anonymous" />
    </head>
    <body class="sb-nav-fixed">
        <div th:replace="fragments/topbar :: topbar"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <div th:replace="fragments/sidebar :: sidebar"></div>
            </div>
            <div th:style="'background-color: aliceblue'"  id="layoutSidenav_content">
                <div layout:fragment="content"></div>
                <div th:replace="fragments/footer :: footer"></div>
            </div>
        </div>
        <div th:replace="fragments/scripts :: scripts"></div>
        <script type="text/javascript">
             var gearPage = document.getElementById('GearPage');
             if(null != gearPage)
             {
                 gearPage.parentNode.removeChild(gearPage);
                 document.title = "Error";
             }
        </script>
    </body>
</html>
