<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Vehicles</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-bus mr-1"></i><span>Vehicles</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2><b>Vehicle Details</b></h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/vehicles/update/{id}(id=${vehicle.id})}">
							<button type='button' class='btn btn-outline-info'><i class='fas fa-edit'></i>Edit </button>
						</a>
					</div>
				</div>
			</div>
			<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{vehicle.saved.message} : (${updated} ? #{vehicle.updated.message} : false))"></div>
			<div class="card p-3">
				<div class="form-group row">
					<label class="control-label col-sm-4" for="category"><b>Category</b></label>
					<div class="col-sm-8">
						<span id="category" th:text="${vehicle.category.name}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4" for="name"><b>Name</b></label>
					<div class="col-sm-8">
						<span id="name" th:text="${vehicle.name}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4" for="regNo"><b>Registration Number</b></label>
					<div class="col-sm-8">
						<span id="regNo" th:text="${vehicle.regNo}"></span></div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-4" for="owner"><b>Owner</b></label>
					<div class="col-sm-8">
						<span id="owner" th:text="${vehicle.owner.username}"></span></div>
				</div>
				<div class="form-group row" th:if="${vehicle.device}">
					<label class="control-label col-sm-4" for="device"><b>Device</b></label>
					<div class="col-sm-8">
						<span id="device" th:text="${vehicle.device.name}"></span>
						<a href="#" th:href="@{/devices/details/{id}(id=${vehicle.device.id})}" class="btn btn-info"><i class='far fa-eye'></i></a>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4" for="enabled"><b>Active</b></label>
					<div class="col-sm-8">
						<label class="switch">
							<input type="checkbox" id="enabled" name="enabled" th:checked="${vehicle.enabled}" disabled>
							<span class="slider round"></span>
						</label>
						</span></div>
				</div>

				<a href="http://demo4.traccar.org/modern/#/" target="_blank">
					<button type='button' class='btn btn-outline-primary'><i class='fas fa-map-marker'></i> View on Map </button>
				</a>
			</div>
		</div>
	</div>
</div>
</html>