<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Configurations</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-cogs mr-1"></i><span>Configurations</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Configurations</span></b></h2>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<a href="#" th:href="@{/configurations/create}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
							<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
							<a href="#" class="btn btn-info"><i class="fas fa-file-import" aria-hidden="true"></i> Import CSV</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{config.saved.message} : (${updated} ? #{config.updated.message} : (${deleted} ? #{config.deleted.message} : false)))"></div>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
			<table cellspacing="0" class="table  table-responsive" id="dataTable" width="100%">
				<thead class='thead-light'>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Value</th>
					<th>Remove</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="configuration : ${configurations}">
					<td th:text="${configuration.id}"></td>
					<td th:text="${configuration.name}"></td>
					<td th:text="${configuration.value}"></td>
					<td>
						<a class="justify-content-center"
						   th:href="@{/configurations/delete/{id}(id=${configuration.id})}">
							<button class='btn btn-danger btn-sm' type='button'><i class='far fa-trash-alt'></i>
							</button>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>