<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Facilities</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-memory mr-1"></i><span>Facilities</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2><b>Terminal Details</b></h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/facilities/update/{id}(id=${facility.id})}">
							<button type='button' class='btn btn-outline-info'><i class='fas fa-edit'></i>Edit </button>
						</a>
					</div>
				</div>
			</div>
			<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{facility.saved.message} : (${updated} ? #{facility.updated.message} : false))"></div>
			<div class="card p-3">
				<div class="form-group row">
					<label class="col-sm-2" for="name">Name</label>
					<div class="col-sm-10">
						<span id="name" th:text="${facility.name}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2" for="mode">Mode</label>
					<div class="col-sm-10">
						<span id="mode" th:text="${facility.mode}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2" for="country">Country</label>
					<div class="col-sm-10">
						<span id="country" th:text="${facility.country}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2" for="state">State</label>
					<div class="col-sm-10">
						<span id="state" th:text="${facility.state}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2" for="lga">L.G.A.</label>
					<div class="col-sm-10">
						<span id="lga" th:text="${facility.lga}"></span></div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-2" for="owner">Owner</label>
					<div class="col-sm-10">
						<span id="owner" th:text="${facility.owner.username}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2" for="location">Location</label>
					<div class="col-sm-10"><span id="location" th:text="${facility.location}"></span></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2" for="enabled">Active</label>
					<div class="col-sm-10">
						<label class="switch">
							<input type="checkbox" id="enabled" name="enabled" th:checked="${facility.enabled}" disabled>
							<span class="slider round"></span>
						</label>
						</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
