<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Transactions</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-list mr-1"></i><span>Transactions</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2><b>Transaction Details</b></h2>
					</div>
				</div>
			</div>
			<div class="card p-3">
				<div class="row">
					<div class="col">
						<div class="form-group row">
							<label class="col-sm-4" for="name"><b>Transaction ID</b></label>
							<div class="col-sm-8">
								<span id="name" th:text="${transaction.transactionId}"></span></div>
						</div>
						<!--<div class="form-group row">
                            <label class="control-label col-sm-4" for="scheme">Scheme ID</label>
                            <div class="col-sm-8">
                                <span id="scheme" th:text="${transaction.schemeId}"></span></div>
                        </div>-->
						<div class="form-group row">
							<label class="col-sm-4" for="type"><b>Transaction Type</b></label>
							<div class="col-sm-8">
								<span id="type" th:text="${transaction.type}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="mode"><b>Transport Mode</b></label>
							<div class="col-sm-8">
								<span id="mode" th:text="${transaction.mode}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="amount"><b>Amount</b></label>
							<div class="col-sm-8"><span id="amount" th:text="${transaction.amount}"></span></div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4" for="terminal"><b>Terminal ID</b></label>
							<div class="col-sm-8">
								<span id="terminal" th:text="${transaction.terminalId}"></span></div>
						</div>
					</div>
					<div class="col">
						<div class="form-group row">
							<label class="control-label col-sm-4" for="device"><b>Device ID</b></label>
							<div class="col-sm-8">
								<span id="device" th:text="${transaction.deviceId}"></span></div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4" for="operatorId"><b>Operator ID</b></label>
							<div class="col-sm-8">
								<span id="operatorId" th:text="${transaction.operatorId}"></span></div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4" for="transactiondate"><b>Transaction Date</b></label>
							<div class="col-sm-8">
								<span id="transactiondate" th:text="${transaction.transactionDateTime}"></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
<th>Id</th>
<th>Transaction ID</th>
<th>Type</th>
<th>Mode</th>
<th>Amount (&#8358;)</th>
<th>Terminal </th>
<th>Device</th>
<th>Operator </th>
<th>Transaction Date</th>
<th>View Details</th>