<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:fragment="title" th:text="${title}">Transactions</title>
<div th:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-user mr-1"></i><span>Transactions</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Transactions</span></b></h2>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
							<a href="#" class="btn btn-info"><i class="fa fa-file-export" aria-hidden="true"></i> Export to Excel</a>
						</div>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
				<thead class='thead-light'>
				<tr>
					<th>Id</th>
					<th>Transaction ID</th>
					<th>Transaction Type</th>
					<th>Sender</th>
					<th>Recipient</th>
					<th>Card Number</th>
					<th>Device ID</th>
					<th>Amount</th>
					<th>Transaction Date</th>
					<th>View Details</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="transaction : ${transactionPage.content}">
					<td th:text="${transaction.id}"></td>
					<td th:text="${transaction.transactionId}"></td>
					<td th:text="${transaction.type}"></td>
					<td th:text="${transaction.sender != null ? transaction.sender.name : ''}"></td>
					<td th:text="${transaction.recipient != null ? transaction.recipient.name : ''}"></td>
					<td th:text="${transaction.card != null ? transaction.card.pan : ''}"></td>
					<td th:text="${transaction.device != null ? transaction.device.name : ''}"></td>
					<td th:text="${transaction.type}"></td>
					<td th:text="${transaction.amount}"></td>
					<td th:text="${transaction.timeStamp}"></td>
					<td>
						<a class="justify-content-center" th:href="@{/transactions/details/{id}(id=${transaction.id})}">
							<button type='button' class='btn btn-primary'><i class='far fa-eye'></i></button>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
			<div th:if="${transactionPage.totalPages > 0}" class="pagination"
				 th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/get(size=${transactionPage.size}, page=${pageNumber})}"
				   th:class="${pageNumber==transactionPage.number + 1} ? active"><button class='btn btn-outline-default' th:text=${pageNumber}></button></a>
			</div>
		</div>
	</div>
</div>
</html>