<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title layout:fragment="title">Terminals</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-memory mr-1"></i><span>Terminals</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2><b>Terminal Details</b></h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/terminals/update/{id}(id=${terminal.id})}">
							<button type='button' class='btn btn-outline-info'><i class='fas fa-edit'></i>Edit </button>
						</a>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{terminal.saved.message} : (${updated} ? #{terminal.updated.message} : false))"></div>
			<div class="card p-3">
				<div class="row">
					<div class="col">
						<div class="form-group row">
							<label class="col-sm-4" for="name"><b>Name</b></label>
							<div class="col-sm-8">
								<span id="name" th:text="${terminal.name}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="code"><b>Code</b></label>
							<div class="col-sm-8">
								<span id="code" th:text="${terminal.code}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="mode"><b>Transport Mode</b></label>
							<div class="col-sm-8">
								<span id="mode" th:text="${terminal.mode}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="country"><b>Country</b></label>
							<div class="col-sm-8">
								<span id="country" th:text="${terminal.country}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="state"><b>State</b></label>
							<div class="col-sm-8">
								<span id="state" th:text="${terminal.state}"></span></div>
						</div>
					</div>
					<div class="col">
						<div class="form-group row">
							<label class="col-sm-4" for="lga"><b>L.G.A.</b></label>
							<div class="col-sm-8">
								<span id="lga" th:text="${terminal.lga}"></span></div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4" for="owner"><b>Owner</b></label>
							<div class="col-sm-8">
								<span id="owner" th:text="${terminal.owner.username}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="location"><b>Location</b></label>
							<div class="col-sm-8"><span id="location" th:text="${terminal.location!=null?terminal.location:''}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="enabled"><b>Active</b></label>
							<div class="col-sm-8">
								<label class="switch">
									<input disabled id="enabled" name="enabled" th:checked="${terminal.enabled}"
										   type="checkbox">
									<span class="slider round"></span>
								</label>
								</span></div>
						</div>
					</div>


					<div sec:authorize="hasAuthority('VIEW_AUDIT_TRAIL')" class="col">
						<div class="form-group row">
							<label class="col-sm-4" for="createdBy"><b>Created By</b></label>
							<div class="col-sm-8"><span id="createdBy" th:text="${terminal.createdBy!=null?terminal.createdBy :'Unknown'}"></span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="createdDate"><b>Created Date</b></label>
							<div class="col-sm-8"><span id="createdDate" th:text="${terminal.createdDate!=null?terminal.createdDate :'Unknown'}"></span>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4" for="LastModifiedBy"><b>Last Modified By</b></label>
							<div class="col-sm-8"><span id="LastModifiedBy" th:text="${terminal.lastModifiedBy!=null?terminal.lastModifiedBy : 'Unknown'}"></span></div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4" for="LastModifiedDate"><b>Last Modified Date</b></label>
							<div class="col-sm-8"><span id="LastModifiedDate" th:text="${terminal.lastModifiedDate!=null?terminal.lastModifiedDate:'Unknown'}"></span></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</html>
