<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Terminals</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-memory mr-1"></i><span>Terminals</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Terminals</span></b></h2>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<a href="#" th:href="@{/terminals/create}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
							<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
                            <a class="btn btn-info" href="#"><i aria-hidden="true" class="fas fa-file-import"></i>
                                Import CSV</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${deleted} ? #{terminal.deleted.message} : false)"></div>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
            <table cellspacing="0" class="table table-bordered table-responsive" id="dataTable" width="100%">
				<thead class='thead-light'>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Mode</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>Lga</th>
                    <th>Owner</th>
                    <th>Active</th>
                    <th>View Details</th>
                    <th>Remove</th>
                </tr>
				</thead>
				<tbody>
                <tr th:each="terminal : ${terminals}">
                    <td th:text="${terminal.id}"></td>
                    <td th:text="${terminal.name}"></td>
                    <td th:text="${terminal.code}"></td>
                    <td th:text="${terminal.mode}"></td>
                    <td th:text="${terminal.country}"></td>
                    <td th:text="${terminal.state}"></td>
                    <td th:text="${terminal.lga}"></td>
                    <td th:text="${terminal.owner != null ? terminal.owner.username : ''}"></td>
                    <td>
                        <label class="switch">
                            <input disabled id="enabled" name="enabled" th:checked="${terminal.enabled}"
                                   type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <a class="justify-content-center" th:href="@{/terminals/details/{id}(id=${terminal.id})}">
                            <button class='btn btn-primary btn-sm' type='button'><i class='far fa-eye'></i></button>
                        </a>
                    </td>
                    <td>
                        <a class="justify-content-center" th:href="@{/terminals/delete/{id}(id=${terminal.id})}">
                            <button class='btn btn-danger btn-sm' type='button'><i class='far fa-trash-alt'></i>
                            </button>
                        </a>
                    </td>
                </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>