<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Terminals</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-memory mr-1"></i><span>Terminals</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Terminals</span></b></h2>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<a href="#" th:href="@{/terminals/create}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
							<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
							<a href="#" class="btn btn-info"><i class="fa fa-file-export" aria-hidden="true"></i> Export to Excel</a>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/alert-success :: alert-success (message=${deleted} ? #{terminal.deleted.message} : false)"></div>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
			<table class="table table-bordered table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
				<thead class='thead-light'>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Transport Mode</th>
					<th>Owner</th>
					<th>Active</th>
					<th>View Details</th>
					<th>Remove</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="terminal : ${terminalPage.content}">
					<td th:text="${terminal.id}"></td>
					<td th:text="${terminal.name}"></td>
					<td th:text="${terminal.type}"></td>
					<td th:text="${terminal.owner != null ? terminal.owner.username : ''}"></td>
					<td>
						<label class="switch">
							<input type="checkbox" id="enabled" name="enabled" th:checked="${terminal.enabled}" disabled>
							<span class="slider round"></span>
						</label>
					</td>
					<td>
						<a class="justify-content-center" th:href="@{/terminals/details/{id}(id=${terminal.id})}">
							<button type='button' class='btn btn-primary'><i class='far fa-eye'></i></button>
						</a>
					</td>
					<td>
						<a class="justify-content-center" th:href="@{/terminals/delete/{id}(id=${terminal.id})}">
							<button type='button' class='btn btn-danger'><i class='far fa-trash-alt'></i></button>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
			<div th:if="${terminalPage.totalPages > 0}" class="pagination"
				 th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/get(size=${terminalPage.size}, page=${pageNumber})}"
				   th:class="${pageNumber==terminalPage.number + 1} ? active"><button class='btn btn-outline-default' th:text=${pageNumber}></button></a>
			</div>
		</div>
	</div>
</div>
</html>