/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
:root {
    --smart-blue: #4aaad3;
    --smart-light-blue: #E5E5E5;
  }

  @font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Bold.woff2') format('woff2'),
        url('../fonts/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-BoldItalic.woff2') format('woff2'),
        url('../fonts/Averta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Thin.woff2') format('woff2'),
        url('../fonts/Averta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Averta-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ThinItalic.woff2') format('woff2'),
        url('../fonts/Averta-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Light.woff2') format('woff2'),
        url('../fonts/Averta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Regular.woff2') format('woff2'),
        url('../fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../fonts/Averta-Extrathin.woff2') format('woff2'),
        url('../fonts/Averta-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-BlackItalic.woff2') format('woff2'),
        url('../fonts/Averta-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Black.woff2') format('woff2'),
        url('../fonts/Averta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../fonts/Averta-ExtrathinItalic.woff2') format('woff2'),
        url('../fonts/Averta-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Semibold.woff2') format('woff2'),
        url('../fonts/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Averta-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-LightItalic.woff2') format('woff2'),
        url('../fonts/Averta-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-RegularItalic.woff2') format('woff2'),
        url('../fonts/Averta-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ExtraBold.woff2') format('woff2'),
        url('../fonts/Averta-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

 body {
  font-family: Averta;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 16px;
    background: #f2f6f9;
    background: var(--smart-light-blue);
 }
 .smart-bold-700 {
   font-weight: 700;
 }
 .smart-bold-400 {
   font-weight: 400;
 }
 .smart-text-normal {
   font-size: 16px;
   Line-height: 19.2px;
 }
  a {
    text-decoration: none;
  }
  .inter-form {
    background-color: white;
    font-family: Averta;
  }
  .password > i {
    right: 7px;
    bottom: 10px;
    filter: contrast(20%);
  }

  #img-container {
    display: none;
  }

  .logo {
    object-fit: contain;
  }

  .smart-bg-blue {
    background-color: var(--smart-blue);
  }
  .smart-color-blue {
    color: var(--smart-blue);
  }
  .smart-color-blue:hover {
    color: #4aaad3b8;
    text-decoration: none;
  }

  /*  Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    #img-container {
    display: block;
  }
    .inter-img {
      height: 277px;
      width: 463px;
    }
  }

  /*  Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }

  /*  Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

