<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title layout:fragment="title">Vehicle Categories</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-bus mr-1"></i><span>Vehicle Categories</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2><b>Vehicle Category Details</b></h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/vehicleCategories/update/{id}(id=${vehicleCategory.id})}">
							<button type='button' class='btn btn-outline-info'><i class='fas fa-edit'></i>Edit </button>
						</a>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{vehicleCategory.saved.message} : (${updated} ? #{vehicleCategory.updated.message} : false))"></div>
			<div class="card p-3">
				<div class="row">
					<div class="col">
						<div class="form-group row">
							<label class="col-sm-4" for="mode"><b>Mode</b></label>
							<div class="col-sm-8">
								<span id="mode" th:text="${vehicleCategory.mode}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="name"><b>Name</b></label>
							<div class="col-sm-8">
								<span id="name" th:text="${vehicleCategory.name}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="make"><b>Make</b></label>
							<div class="col-sm-8">
								<span id="make" th:text="${vehicleCategory.make!=null ?vehicleCategory.make.name : ''}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="model"><b>Model</b></label>
							<div class="col-sm-8">
								<span id="model" th:text="${vehicleCategory.model !=null ? vehicleCategory.model.name : ''}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="color"><b>Color</b></label>
							<div class="col-sm-8">
								<span id="color" th:text="${vehicleCategory.color}"></span></div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4" for="capacity"><b>Capacity</b></label>
							<div class="col-sm-8">
								<span id="capacity" th:text="${vehicleCategory.capacity}"></span></div>
						</div>

						<div class="form-group row">
							<label class="control-label col-sm-4" for="owner"><b>Owner</b></label>
							<div class="col-sm-8">
								<span id="owner" th:text="${vehicleCategory.owner!=null ? vehicleCategory.owner.username : ''}"></span></div>
						</div>
					</div>

					<div class="col">
						<img alt="Vehicle Picture" id="vehiclePic" th:src="${vehicleCategory.pictureUrl}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>