<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Approved Ticket-tills</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-road mr-1"></i><span>Approved ticket tills</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Approved Ticket Tills</span></b></h2>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
            <table cellspacing="0" class="table  table-responsive" id="dataTable" width="100%">
				<thead class='thead-light'>
				<tr>
					<th>Operator Name</th>
					<th>Till Opening Time</th>
					<th>Till Closing Time</th>
					<th>Date</th>
					<th>Total Tickets</th>
					<th>Total Amount</th>
				</tr>
				</thead>
				<tbody>

				<tr th:each="tts : ${ticketTillSummaryPage.content}">
					<td th:text="${tts.tillOperatorName}"></td>
					<td th:text="${tts.tillStartTime}"></td>
					<td th:text="${tts.tillEndTime}"></td>
					<td th:text="${tts.date}"></td>
					<td th:text="${tts.totalSoldTickets}"></td>
					<td th:text="${tts.totalSoldAmount}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>