<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Schedules</title>
<div layout:fragment="content" class="card mb-4" style="border:none">
    <div class="card-header"><i class="fas fas fa-calendar"></i>
        <span>Schedule and Passenger Manifest</span>
        <a style="float:right;">
            <button type='button' style="margin:5px" class='btn btn-outline-info'><i class='fas fa-print'></i> Print
                manifest
            </button>
        </a>
    </div>
    <div class="card-body">
        <div class="table-wrapper">
            <div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{schedule.saved.message} : (${updated} ? #{schedule.updated.message} : false))"></div>
            <div class="card">
                <div class="card-header">
                    <span><b>Trip</b></span></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div><b>Departure Terminal</b></div>
                            <div th:text="${schedule.route.startTerminal.name}"></div>
                        </div>
                        <div class="col">
                            <div><b>Destination Terminal</b></div>
                            <div th:text="${schedule.route.stopTerminal.name}"></div>
                        </div>
                        <div class="col">
                            <div><b>Transport Mode</b></div>
                            <div th:text="${schedule.route.mode}"></div>
                        </div>
                        <div class="col">
                            <div><b>Vehicle</b></div>
                            <div th:text="${schedule.vehicle.name}"></div>
                        </div>
                        <div class="col">
                            <div><b>Fare</b></div>
                            <div><span th:text="${schedule.route.fare}"></span> <span
                                    th:text="${session.currency} ? ${session.currency} : NGN">&#8358;</span></div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div><b>Departure Date</b></div>
                            <div th:text="${schedule.departureDate}"></div>
                        </div>
                        <div class="col">
                            <div><b>Departure Time</b></div>
                            <div th:text="${schedule.departureTime}"></div>
                        </div>
                        <div class="col">
                            <div><b>Arrival Date</b></div>
                            <div th:text="${schedule.arrivalDate}"></div>
                        </div>
                        <div class="col">
                            <div><b>Estimated Arrival Time</b></div>
                            <div th:text="${schedule.arrivalTime}"></div>
                        </div>
                        <div class="col">
                            <div><b>Owner</b></div>
                            <div th:text="${schedule.owner.username}"></div>
                        </div>
                        <div class="col">
                            <div><b>Active</b></div>
                            <div>
                                <label class="switch">
                                    <input disabled th:checked="${schedule.enabled}" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <table cellspacing="0" class="table  responsive-table" id="dataTable" width="100%">
                    <thead class='thead-light'>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>ID Number</th>
                        <th>BVN</th>
                        <th>Seat</th>
                        <th>Contact Mobile</th>
                        <th>Contact Email</th>
                        <th>Address</th>
                        <th>Next of Kin Name</th>
                        <th>Next of Kin Mobile</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="manifest:${manifestPage.content}">
                        <td th:text="${manifest.id}"></td>
                        <td th:text="${manifest.name}"></td>
                        <td th:text="${manifest.gender}"></td>
                        <td th:text="${manifest.nationality}"></td>
                        <td th:text="${manifest.idNumber}"></td>
                        <td th:text="${manifest.bvn}"></td>
                        <td th:text="${manifest.seatNo}"></td>
                        <td th:text="${manifest.contactMobile}"></td>
                        <td th:text="${manifest.contactEmail}"></td>
                        <td th:text="${manifest.address}"></td>
                        <td th:text="${manifest.nextOfKinName}"></td>
                        <td th:text="${manifest.nextOfKinMobile}"></td>
                    </tr>

                    </tbody>
                </table>

            <div class="btn-group" style="margin-top:10px;">

                <a th:href="@{/schedules/get}">
                    <button class='btn btn-outline-info' style="margin:5px" type='button'><i
                            class='fas fa-arrow-left'></i> View all schedules
                    </button>
                </a>

                <a th:href="@{/schedules/update/{id}(id=${schedule.id})}">
                    <button class='btn btn-outline-info' style="margin:5px" type='button'><i class='fas fa-edit'></i>
                        Edit
                        Schedule
                    </button>
                </a>

                <a th:href="@{/manifests/upload-schedule-manifest/{id}(id=${schedule.id})}">
                    <button class='btn btn-outline-info' style="margin:5px" type='button'><i class='fa fa-upload'></i>
                        Upload Passenger Manifest
                    </button>
                </a>

            </div>

        </div>
    </div>
</div>
</html>
