<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Trips</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fas fa-road"></i>
        <span>Trip & Passenger Manifest details</span>
        <a style="float:right;">
            <button type='button' style="margin:5px" class='btn btn-outline-info'><i class='fas fa-print'></i> Print
                manifest
            </button>
        </a>
    </div>
    <div class="card-body">
        <div class="table-wrapper">
            <div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{trip.saved.message} : (${updated} ? #{trip.updated.message} : false))"></div>
            <div class="p-3">
                <div class="card-header"><span><b> Trip Details</b></span></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-sm-4" for="referenceNo"><b>Trip Reference ID</b></label>
                                <div class="col-sm-8">
                                    <span id="referenceNo" th:text="${trip.referenceNo}"></span></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="mode"><b>Transport Mode</b></label>
                                <div class="col-sm-8">
                                    <span id="mode" th:text="${trip.mode}"></span></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="driver"><b>Driver</b></label>
                                <div class="col-sm-8">
                            <span id="driver"
                                  th:text="${trip.driver!=null ? trip.driver.firstName+' '+trip.driver.LastName : '' }"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="vehicle"><b>Vehicle</b></label>
                                <div class="col-sm-8">
                                    <span id="vehicle"
                                          th:text="${trip.vehicle!=null ? trip.vehicle.name + ' - ' + trip.vehicle.regNo : '' }"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-sm-4" for="startTerminal"><b>Departure
                                    Terminal</b></label>
                                <div class="col-sm-8">
                                    <span id="startTerminal"
                                          th:text="${trip.schedule!=null ? trip.schedule.startTerminal.name : '' }"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="control-label col-sm-4" for="stopTerminal"><b>Arrival Terminal</b></label>
                                <div class="col-sm-8">
                                    <span id="stopTerminal"
                                          th:text="${trip.schedule!=null ? trip.schedule.stopTerminal.name : '' }"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="departureDate"><b>Departure Date</b></label>
                                <div class="col-sm-8">
                                    <span id="departureDate"
                                          th:text="${trip.schedule!=null ? trip.schedule.departureDate : '' }"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="departureTime"><b>Departure Time</b></label>
                                <div class="col-sm-8">
                                    <span id="departureTime"
                                          th:text="${trip.schedule!=null ? trip.schedule.departureTime : '' }"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="arrivalDate"><b>Arrival Date</b></label>
                                <div class="col-sm-8">
                                    <span id="arrivalDate"
                                          th:text="${trip.schedule!=null ? trip.schedule.arrivalDate : '' }"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" for="arrivalTime"><b>Arrival Time</b></label>
                                <div class="col-sm-8">
                                    <span id="arrivalTime"
                                          th:text="${trip.schedule!=null ? trip.schedule.arrivalTime : '' }"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <table class="table table-bordered table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead class='thead-light'>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>ID Number</th>
                        <th>Seat</th>
                        <th>Contact Mobile</th>
                        <th>Contact Email</th>
                        <th>Address</th>
                        <th>Next of Kin Name</th>
                        <th>Next of Kin Mobile</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="manifest:${manifestPage.content}">
                        <td th:text="${manifest.id}"></td>
                        <td th:text="${manifest.name}"></td>
                        <td th:text="${manifest.gender}"></td>
                        <td th:text="${manifest.nationality}"></td>
                        <td th:text="${manifest.idNumber}"></td>
                        <td th:text="${manifest.seatNo}"></td>
                        <td th:text="${manifest.contactMobile}"></td>
                        <td th:text="${manifest.contactEmail}"></td>
                        <td th:text="${manifest.address}"></td>
                        <td th:text="${manifest.nextOfKinName}"></td>
                        <td th:text="${manifest.nextOfKinMobile}"></td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <div class="btn-group" style="margin-top:10px;">

                <a th:href="@{/trips/get}">
                    <button type='button' style="margin:5px" class='btn btn-outline-info'><i
                            class='fas fa-arrow-left'></i> View all trips
                    </button>
                </a>

                <a th:href="@{/trips/update/{id}(id=${trip.id})}">
                    <button class='btn btn-outline-info' style="margin:5px" type='button'><i class='fas fa-edit'></i>
                        Edit
                        Trip
                    </button>
                </a>

                <a th:href="@{/manifests/upload-trip-manifest/{id}(id=${trip.id})}">
                    <button class='btn btn-outline-info' style="margin:5px" type='button'><i class='fa fa-upload'></i>
                       Upload Passenger Manifest
                    </button>
                </a>

            </div>

        </div>
    </div>
</div>
</html>
