<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<title layout:fragment="title">Tickets</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fa-ticket-alt mr-1"></i>
        <span>Tickets</span></div>
    <div class="card-body">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2><b> Create New Booking</b></h2>
                </div>

            </div>
        </div>
        <div th:replace="fragments/booking-search :: booking-search"></div>
    </div>
</div>
</html>