<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<title layout:fragment="title">Tickets</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fa-ticket-alt mr-1"></i>
        <span>Tickets</span></div>
    <div class="card-body">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2><b> Confirm New Booking</b></h2>
                </div>

            </div>
        </div>
        <br>
        <label><b> Ticket Summary </b></label>
        <br>
        <table cellspacing="0" class="table  responsive-table" width="100%">
            <thead class='thead-light'>
                <tr>
                    <th>Ticket Reference</th>
                    <th>Name</th>
                    <th>Departure/Arrival</th>
                    <th>Amount (<span th:text="${session.currency} ? ${session.currency} : NGN">&#8358;</span>)</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="ticket : ${ticketDetails.tickets}">
                    <td th:text="${ticket.referenceNo}"></td>
                    <td th:text="${ticket.passengerName}"></td>
                    <td th:text="${ticket.schedule != null ? ticket.schedule.route.startTerminal.name + ' - ' + ticket.schedule.route.stopTerminal.name  : ''}"></td>
                    <td th:text="${ticket.fare}"></td>
                </tr>

                <tr th:each="fee : ${ticketDetails.appliedFees}">
                    <td></td>
                    <td></td>
                    <td th:text="${fee.feeName}"></td>
                    <td th:text="${fee.amount}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td th:text="Total"></td>
                    <td th:text="${ticketDetails.totalFare}"></td>
                </tr>
            </tbody>
        </table>

        <div class="amt-big">
            <span>Total Amount Payable: <span th:text="${session.currency} ? ${session.currency} : NGN">&#8358;</span></span>
            <span th:text="${ticketDetails.totalFare}"></span>
        </div>

        <br><br>
        <div><b>Disclaimer:</b> Your clicking the confirm payment button will imply that you have physically collected
            the total sum of this booking from the customer.
        </div>

        <br>
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="btn-group col-sm-3">
                <a class="btn btn-sized btn-outline-primary" th:href="@{${flowExecutionUrl}+ '&_eventId=back'}">Back</a>
                <a class="btn btn-sized btn-outline-primary" th:href="@{${flowExecutionUrl} + '&_eventId=confirmBooking'}">Confirm</a>
            </div>
        </div>
    </div>
</div>
</html>