<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Tickets</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fa-ticket-alt mr-1"></i><span>Tickets</span></div>
    <div class="card-body">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <h2><b>Ticket Details</b></h2>
                </div>
            </div>
            <div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{ticket.saved.message} : false)"></div>
            <div class="card p-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label class="col-sm-4" for="ref"><b>Ticket Reference</b></label>
                            <div class="col-sm-8">
                                <span id="ref" th:text="${ticket.referenceNo}"></span></div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="bookingDate"><b>Booking Date</b></label>
                            <div class="col-sm-8">
                                <span id="bookingDate" th:text="${ticket.bookingDate}"></span></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4" for="name"><b>Passenger Name</b></label>
                            <div class="col-sm-8">
                                <span id="name" th:text="${ticket.passengerName}"></span></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4" for="vehicle"><b>Vehicle</b></label>
                            <div class="col-sm-8">
                                <span id="vehicle" th:text="${ticket.schedule.vehicle.name}"></span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="trip"><b>Trip</b></label>
                            <div class="col-sm-8">
                                <span id="trip"
                                      th:text="${ticket.schedule.startTerminal.name + ' - ' + ticket.schedule.stopTerminal.name}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4" for="date"><b>Trip Departure Date</b></label>
                            <div class="col-sm-8">
                                <span id="date"
                                      th:text="${ticket.schedule.departureDate + ' ' + ticket.schedule.departureTime}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="seatNo"><b>Seat</b></label>
                            <div class="col-sm-8">
                                <span id="seatNo" th:text="${ticket.seatNo}"></span></div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" for="seatClass"><b>Seat Class</b></label>
                            <div class="col-sm-8">
                                <span id="seatClass" th:text="${ticket.seatClass}"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>