<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Tickets</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fa-memory mr-1"></i><span>Tickets</span></div>
    <div class="card-body">

        <div class="row" th:style="${status == 'CLOSE' ? 'display : block' : 'display : none'}">
            <div style="width:500px;margin-left:50px;" class="alert alert-warning" role="alert">
                <p> Your ticket till is <b>closed</b>,you can't sell ticket until after <b>approved.</b><p>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b><span>Tickets</span></b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">

                            <a th:style="${status == 'OPEN' ? 'visibility : visible' : 'visibility : hidden'}" href="#" th:href="@{/issueTicket}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Create New</a>
                            <a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
                            <a href="#" class="btn btn-info"><i class="fa fa-file-export" aria-hidden="true"></i> Export to Excel</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table cellspacing="0" class="table table-bordered table-responsive" id="dataTable" width="100%">
                <thead class='thead-light'>
                <tr>
                    <th>Ticket Reference</th>
                    <th>Passenger Name</th>
                    <th>Trip</th>
                    <th>Departure Date/Time</th>
                    <th>Vehicle</th>
                    <th>Seat</th>
                    <th>Seat Class</th>
                    <th>Fare (<span th:text="${session.currency} ? ${session.currency} : NGN">&#8358;</span>)</th>
                    <th>Booking Date</th>
                    <th>Refunded</th>
                    <th>View Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${ticketPage.content}">
                    <td th:text="${ticket.referenceNo}"></td>
                    <td th:text="${ticket.passengerName}"></td>
                    <td th:text="${ticket.schedule.startTerminal.name + ' - ' + ticket.schedule.stopTerminal.name}"></td>
                    <td th:text="${ticket.schedule.departureDate + ' ' + ticket.schedule.departureTime}"></td>
                    <td th:text="${ticket.schedule.vehicle.name}"></td>
                    <td th:text="${ticket.seatNo}"></td>
                    <td th:text="${ticket.seatClass}"></td>
                    <td th:text="${ticket.fare}"></td>
                    <td th:text="${ticket.bookingDate}"></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" id="refunded" name="refunded" th:checked="${ticket.refunded}" disabled>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <a class="justify-content-center" th:href="@{/tickets/details/{id}(id=${ticket.id})}">
                            <button class='btn btn-primary btn-sm' type='button'><i class='far fa-eye'></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>