<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<title layout:fragment="title">Tickets</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fa-ticket-alt mr-1"></i>
        <span>Tickets</span>
        <a style="float:right;">
            <button type='button' style="margin:5px" class='btn btn-outline-info'><i class='fas fa-print'></i> Print
                ticket(s)
            </button>
        </a>
    </div>
    <div th:each="ticket : ${ticketDetails.tickets}">
        <br>
        <div class="card-body boarding-pass-body" style="">
            <div class="row">
                <div class="col-8" id="leftDiv">
                    <div class="row" id="leftDivTop">
                        <div class="col-7">
                            <img alt="Operator Logo" id="imgLogo" src="/img/logos/envato.jpg">
                            <span th:text="${ticket.operator.firstName + ' ' + ticket.operator.lastName}">AK Transport</span>
                        </div>
                        <div class="col-5">
                            <div ;class="row"
                                 style="color:#311b92;margin-top:6px;margin-left:15px;font-weight:bold;"
                                 th:text="${'TICKET/BOARDING PASS'}"></div>
                        </div>
                    </div>

                    <div class="row" id="travelDetailsDiv">
                        <div class="col-4" id="departureDetailsDiv">
                            <div class="row">
                                <div class="text-primary arrival_departure_text">DEPARTURE</div>
                            </div>
                            <div class="row">
                                <div class="big_text" th:text="${ticket.schedule.startTerminal.state}">lagos</div>
                            </div>
                            <div class="row">
                                <div class="arrival_departure_address"
                                     th:text="${ticket.schedule.startTerminal.name}">Iyana Ipaja, Lagos
                                </div>
                            </div>
                            <!--
                               <div style="margin-top:10px;margin-bottom:10px;border-bottom:1px solid grey;width:100px;" class="row"> </div>
                            -->
                            <hr>
                            <div class="row">
                                <div class="arrival_departure_time"
                                     th:text="${ticket.schedule.departureDate}">13 AUGUST 2020
                                </div>
                            </div>
                            <div class="row">
                                <div class="arrival_departure_time"
                                     th:text="${ticket.schedule.departureTime}">
                                    08:00 AM
                                </div>
                            </div>
                        </div>

                        <div class="col-4" id="travelDiv">
                            <div class="row">
                                <div class="text-muted" style=""> ESTIMATED TRAVEL</div>
                            </div>

                            <div class="row">
                                <div id="travelTimeDivId" th:text="${ticket.schedule.duration + ' HOUR(S)'}">11.00
                                    H
                                </div>
                            </div>
                        </div>

                        <div class="col-4" style="padding:30px;">
                            <div class="row">
                                <div class="text-primary arrival_departure_text">ESTIMATED ARRIVAL</div>
                            </div>

                            <div class="row">
                                <div class="big_text" th:text="${ticket.schedule.stopTerminal.state}">kaduna</div>
                            </div>

                            <div class="row">
                                <div class="arrival_departure_address"
                                     th:text="${ticket.schedule.stopTerminal.name}">ZARIA,KADUNA
                                </div>
                            </div>

                            <!--
                                <div style="margin-top:10px;margin-bottom:10px;border-bottom:1px solid grey;width:100px;" class="row"> </div>
                            -->
                            <hr>

                            <div class="row">
                                <div class="arrival_departure_time"
                                     th:text="${ticket.schedule.arrivalDate}">13 AUGUST 2020
                                </div>
                            </div>

                            <div class="row">
                                <div class="arrival_departure_time" th:text="${ticket.schedule.arrivalTime}">
                                    07:00 PM
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"
                         style="margin-bottom:4%;padding-top:2%;padding-bottom:4%;padding-left:4%;border-bottom:2px solid grey;height:70px;">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="text-muted" style="font-weight:normal;font-size:10px; font-family:Arial">
                                    NAME OF PASSENGER
                                </div>
                            </div>
                            <div class="row">
                                <div style="text-transform:uppercase;font-weight:bold;font-size:14px; font-family:Arial"
                                     th:text="${ticket.passengerName}"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="text-muted" style="font-weight:normal;font-size:10px; font-family:Arial">
                                    VEHICLE
                                </div>
                            </div>
                            <div class="row">
                                <div style="text-transform:uppercase;;font-weight:bold;font-size:14px; font-family:Arial"
                                     th:text="${ticket.schedule.vehicle.name}">Toyota Coaster
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="text-muted"
                                     style="font-weight:normal;font-size:10px; font-family:Arial">FARE
                                </div>
                            </div>
                            <div class="row">
                                <div style="font-weight:bold;font-size:15px; font-family:Arial">&#8358; <span
                                        th:text="${ticket.schedule.fare}"></span></div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="row">
                                <div class="text-muted" style="font-weight:normal;font-size:10px; font-family:Arial">
                                    SEAT
                                </div>
                            </div>
                            <div class="row">
                                <div style="text-transform:uppercase;font-weight:bold;font-size:15px; font-family:Arial"
                                     th:text="${ticket.seatNo}"></div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-left:2%;">
                        <div class="row">
                            <div class="" style="font-weight:bold;font-size:10px; font-family:Arial">CONTACT
                                INFORMATION
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-muted" style="font-style:italic;font-size:15px; font-family:Arial">
                                For concerns about your booking, please email <b>bookings@company.com</b> or call
                                <b>1800-BOOKING</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4" id="rightDiv">
                    <div class="row" style="height:70px;">
                        <div class="row" id="leftDivTopSeatClass"
                             th:text="${ticket.seatClass + ' CLASS'}"></div>
                    </div>

                    <div style="margin:5px;padding:25px;height:375px;">
                        <div style="padding-left:25px;">
                            <div class="row">
                                <div class="text-muted"
                                     style="font-weight:normal;font-size:10px; font-family:Arial">
                                    NAME OF PASSENGER
                                </div>
                            </div>
                            <div class="row">
                                <div style="text-transform:uppercase;font-weight:bold;font-size:14px; font-family:Arial"
                                     th:text="${ticket.passengerName}"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6" style="padding:25px; height:100px;">
                                <div class="row">
                                    <div class="text-muted"
                                         style="font-weight:normal;font-size:10px; font-family:Arial">TICKET
                                        REFERENCE
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="font-weight:bold;font-size:15px; font-family:Arial"
                                         th:text="${ticket.referenceNo}">AKT412682
                                    </div>
                                </div>
                            </div>

                            <div class="col-6" style=" padding:25px;height:100px;">
                                <div class="row">
                                    <div class="text-muted"
                                         style="font-weight:normal;font-size:10px; font-family:Arial">FARE
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="font-weight:bold;font-size:15px; font-family:Arial">&#8358; <span
                                            th:text="${ticket.schedule.fare}"></span></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6" style="padding:25px;height:100px;">
                                <div class="row">
                                    <div class="text-muted"
                                         style="font-weight:normal;font-size:10px; font-family:Arial">BOOKING DATE
                                    </div>
                                </div>

                                <div class="row">
                                    <div style="font-weight:bold;font-size:15px; font-family:Arial"
                                         th:text="${ticket.bookingDate}">10 AUGUST 2020
                                    </div>
                                </div>
                            </div>

                            <div class="col-6" style="padding:25px;">
                                <img alt="QR Code" id="qrCode" src="/img/qr-code.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr class="dotted-hr"/>
    </div>
</div>
</html>