<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Cards</title>
<div layout:fragment="content" class="card mb-4">
		<div class="card-header"><i class="fas fa-credit-card mr-1"></i>
			<span>Cards</span></div>
		<div class="card-body">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2> <b> Create New Card</b></h2>
					</div>

				</div>
			</div>

			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
			<form class="card p-3" action="#" method="post"
				  th:action="@{/cards/create}" th:object="${card}"
				  data-parsley-validate="true">
				<div class="form-group row">
					<label class="control-label col-sm-2" for="type"><b>Type</b></label>
					<div class="col-sm-10">
						<select class="form-control" th:field="*{type}"  id="type"
								required>
							<option value="">Select...</option>
							<option value="AGENT">Agent</option>
							<option value="COMMUTER">Commuter</option>
							<option value="DRIVER">Driver</option>
						</select>
						<p class="small text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
					</div>

				</div>
				<div class="form-group row">
					<label class="control-label col-sm-2" for="pan"><b>Pan</b></label>
					<div class="col-sm-10">
						<input class="form-control" id="pan" name="pan" th:field="*{pan}"
					   required
					   data-parsley-required-message="Please provide card number"
					   data-parsley-length="[3, 40]"
					   data-parsley-length-message="Please provide a number between 3 and 25 digits long">
						<p class="small text-danger" th:if="${#fields.hasErrors('pan')}" th:errors="*{pan}"></p>
					</div>
			</div>
			  <div class="form-group row">
				  <label class="control-label col-sm-2" for="expiry"><b>Expiry Date</b></label>
					<div class="col-sm-10">
						<input class="form-control" type="date"
							   id="expiry" name="expiry" th:field="*{expiry}"
							   required
							   data-parsley-required-message="Please provide card expiry">
						<p class="small text-danger" th:if="${#fields.hasErrors('expiry')}" th:errors="*{expiry}"></p>
					</div>
			  </div>
				<div class="form-group row">
					<label class="control-label col-sm-2" for="owner"><b>Owner</b></label>
					<div class="col-sm-10">
						<select class="form-control" th:field="*{owner}"  id="owner">
							<option value="">Select...</option>
							<option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner != null ? owner.username : ''}"></option>
						</select>
						<p class="small text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></p>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-2" for="enabled"><b>Active</b></label>
					<div class="col-sm-10">
						<label class="switch">
							<input type="checkbox" name="enabled" id="enabled">
							<span class="slider round"></span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8"></div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-outline-primary btn-sized">Submit</button>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</form>
		</div>
	</div>
</html>