<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Cards</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-credit-card mr-1"></i><span>Cards</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2><b><span>Cards</span></b></h2>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<a href="#" th:href="@{/cards/create}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
							<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
							<a href="#" class="btn btn-info"><i class="fas fa-file-import" aria-hidden="true"></i> Import CSV</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${deleted} ? #{card.deleted.message} : false)"></div>
			<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
			<table class="table table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
				<thead class='thead-light'>
				<tr>
					<th>Id</th>
					<th>Type</th>
					<th>Pan</th>
					<th>Expiry</th>
					<th>Owner</th>
					<th>Active</th>
					<th>View Details</th>
					<th>Remove</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="card : ${cardPage.content}">
					<td th:text="${card.id}"></td>
					<td th:text="${card.type}"></td>
					<td th:text="${card.pan}"></td>
					<td th:text="${card.expiry}"></td>
					<td th:text="${card.owner != null ? card.owner.username : ''}"></td>
					<td>
						<label class="switch">
							<input type="checkbox" id="enabled" name="enabled" th:checked="${card.enabled}" disabled>
							<span class="slider round"></span>
						</label>
					</td>
					<td>
						<a class="justify-content-center" th:href="@{/cards/details/{id}(id=${card.id})}">
							<button type='button' class='btn btn-primary btn-sm'><i class='far fa-eye'></i></button>
						</a>
					</td>
					<td>
						<a class="justify-content-center" th:href="@{/cards/delete/{id}(id=${card.id})}">
							<button type='button' class='btn btn-danger btn-sm'><i class='far fa-trash-alt'></i></button>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>