<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Welcome</title>
</head>
<body style="font-family:'Helvetica Neue',sans-serif; margin:0;padding:0; height:100%; color: #00425F; font-weight: 400">
<div class="wrapper" style="width:600px; margin: 0 auto;">
    <div class="body" style="padding:40px;font-size: 14px; line-height: 20px">
        <img alt="Smartmove Logo"
             style="float:right" th:src="${portletUri} + '/assets/img/smartmove-logo.png'" width="150"/>

        <div class="body-content" style="margin-top:50px; float:left">
            <p>
                Hello <span th:text="${name}"></span>,
            </p>
            <p>
                Thank you for signing up on <strong>Smart Move
                Platform</strong>.
            </p>
            <br>
            <p>
                <a th:href="${verificationUrl}">Click here </a> to verify your email and to notify your referrer to
                activate your account.
            </p>
            <br>
            <p>
                Thank you. Have a great day!
            </p>
        </div>
    </div>
</div>
</body>
</html>