<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			<div class="sb-sidenav-menu-heading">Core</div>
			<a class="nav-link" href="../dashboards/index.html?role=regulator"
				><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
				Dashboard</a>
			<div class="sb-sidenav-menu-heading">Management</div>
			<a class="nav-link" href="../regulators/get.html?role=regulator"
				><div class="sb-nav-link-icon"><i class="fas fa-bus-alt"></i></div>
				Sub-Regulators</a>
				<a class="nav-link" href="../operators/get.html?role=regulator"
				><div class="sb-nav-link-icon"><i class="fas fa-container-storage"></i></div>
				Operators</a>
				<a class="nav-link" href="../agents/get.html?role=regulator"
				><div class="sb-nav-link-icon"><i class="fas fa-route"></i></div>
				Agents</a>
				<a class="nav-link" href="#"
				><div class="sb-nav-link-icon"><i class="fas fa-tablet-alt"></i></div>
				Vehicle Owners</a>
				<a class="nav-link" href="../transactions/get.html?role=regulator"
				><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
				Transactions</a>
				<a class="nav-link" href="../settlements/get.html?role=regulator"
				><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
				Settlements</a>
				<a class="nav-link" href="#"
				><div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
				Settings</a>
		</div>
   
	</div>
	<div class="sb-sidenav-footer">
		<div class="small">Logged in as:</div>
		Company Name
	</div>
</nav>