<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Blacklists</title>
<div layout:fragment="content" class="card mb-4">
    <div class="card-header"><i class="fas fa-ban mr-1"></i><span>Blacklists</span></div>
    <div class="card-body">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b><span>Blacklists</span></b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <a href="#" th:href="@{/blacklists/add}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New Item</a>
                            <a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
                            <a href="#" class="btn btn-info"><i class="fas fa-file-import" aria-hidden="true"></i> Import CSV</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{blacklist.saved.message} : (${deleted} ? #{blacklist.deleted.message} : false))"></div>
            <div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
            <table cellspacing="0" class="table table-bordered table-responsive" id="dataTable" width="100%">
                <thead class='thead-light'>
                <tr>
                    <th>Id</th>
                    <th>Identifier</th>
                    <th>Type</th>
                    <th>View Details</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blacklist : ${blacklistPage.content}">
                    <td th:text="${blacklist.id}"></td>
                    <td th:text="${blacklist.identifier}"></td>
                    <td th:text="${blacklist.type}"></td>
                    <td>
                        <a class="justify-content-center" th:href="@{/blacklists/details/{id}(id=${blacklist.id})}">
                            <button type='button' class='btn btn-primary btn-sm'><i class='far fa-eye'></i></button>
                        </a>
                    </td>
                    <td>
                        <a class="justify-content-center" th:href="@{/blacklists/remove/{id}(id=${blacklist.id})}">
                            <button type='button' class='btn btn-danger btn-sm'><i class='far fa-trash-alt'></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>