<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="alerts">
    <div class="alert alert-info alert-dismissible" th:if="${message}">
        <i class="ion ion-information-circled ion-background"></i>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="alert-content" th:text="${message}">Message</span>
    </div>

    <div class="alert alert-danger alert-dismissible" th:if="${error}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="ion ion-alert-circled ion-background"></i>
        <span class="alert-content" th:text="${error}">Error</span>
    </div>
</div>