<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!-- VIEW TITLE BEGINS -->
    <title th:replace="${view} :: title"></title>
    <!-- STYLE BEGINS -->
    <link th:href="@{__${mufasa}__/v1_0_2/css/stylesheets.css}" href="../public/css/passport.css"
          rel="stylesheet" media="screen" type="text/css"/>
    <!-- THEME STYLE BEGINS -->
    <link th:href="@{__${mufasa}__/v1_0_2__${#themes.code('css')}__}" href="../public/css/default-theme.css"
          rel="stylesheet"  media="screen" type="text/css"/>
    <!-- /THEME STYLE ENDS -->
    <!-- /STYLE ENDS -->
    <!-- /VIEW TITLE ENDS -->
</head>