<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <!-- VIEW TITLE BEGINS -->
    <title th:replace="${view} :: title"></title>
    <!-- STYLE BEGINS -->
    <link href="../public/css/passport.css" media="screen"
          rel="stylesheet" th:href="@{__${mufasa}__/v1_0_2/css/stylesheets.css}" type="text/css"/>
    <!-- THEME STYLE BEGINS -->
    <link href="../public/css/default-theme.css" media="screen"
          rel="stylesheet" th:href="@{__${mufasa}__/v1_0_2__${#themes.code('css')}__}" type="text/css"/>
    <!-- /THEME STYLE ENDS -->
    <!-- /STYLE ENDS -->
    <!-- /VIEW TITLE ENDS -->
</head>
</html>