<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="sidebar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark full-height" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav"><!--sec:authorize="hasAnyAuthority('VIEW_REGULATORS', 'VIEW_OPERATORS')"-->
                <div class="sb-sidenav-menu-heading" th:text="#{core}">Core</div>
                <a class="nav-link" th:href="@{/dashboard}" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    <span th:text="#{dashboard}">Dashboard</span></a>
                <div class="sb-sidenav-menu-heading">Management</div>
                <div data-parent="#sidenavAccordion">
                    <nav class=".sb-sidenav-menu nav">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            <span th:text="#{userManagement}">User Management</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a>
                        <div class="collapse" id="collapseUser" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_ADMINISTRATORS')" th:href="@{/users/get?role=ISW_ADMIN}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{administrators}">Administrators</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_EXECUTIVES')"
                                   th:href="@{/users/get?role=EXECUTIVE}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{executives}">Executives</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_REGULATORS')"
                                   th:href="@{/users/get?role=REGULATOR}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{regulators}">Regulators</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_OPERATORS')" th:href="@{/users/get?role=OPERATOR}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{operators}">Operators</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_SERVICE_PROVIDERS')"
                                   th:href="@{/users/get?role=SERVICE_PROVIDER}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{serviceProviders}">Service Providers</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_INSPECTORS')"
                                   th:href="@{/users/get?role=INSPECTOR}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{inspectors}">Inspectors</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_DRIVERS')" th:href="@{/users/get?role=DRIVER}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{drivers}">Drivers</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_AGENTS')" th:href="@{/users/get?role=AGENT}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{agents}">Agents</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_TICKETERS')"
                                   th:href="@{/users/get?role=TICKETER}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{ticketers}">Ticketers</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_VEHICLE_OWNERS')" th:href="@{/users/get?role=VEHICLE_OWNER}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                    <span th:text="#{vehicleOwners}">Vehicle Owners</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_CONFIGURATIONS')"
                                   th:href="@{/userSettings/details}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                                    <span>User Settings</span></a>
                            </nav>
                        </div>
                        <!--<a class="nav-link" sec:authorize="hasAuthority('VIEW_WALLET_DETAILS')" th:href="@{/wallets/details}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-wallet"></i></div>
                            Wallet</a>-->
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_CARDS')" th:href="@{/cards/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>
                            <span th:text="#{cards}">Cards</span></a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_DEVICES')" th:href="@{/devices/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-tablet-alt"></i></div>
                            <span th:text="#{devices}">Devices</span></a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_VEHICLE_CATEGORIES')" th:href="@{/vehicleCategories/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-bus-alt"></i></div>
                            <span th:text="#{vehicleCategories}">Vehicle Categories</span></a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_VEHICLES')" th:href="@{/vehicles/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-bus-alt"></i></div>
                            <span th:text="#{vehicles}">Vehicles</span></a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_TERMINALS')" th:href="@{/terminals/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-memory"></i></div>
                            <span th:text="#{terminals}">Transport Terminals</span></a>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTrip" aria-expanded="false" aria-controls="collapseUser">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            <span>Trips and Schedules</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a>
                        <div class="collapse" id="collapseTrip" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_ROUTES')" th:href="@{/routes/get}" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-route"></i></div>
                                <span th:text="#{routes}">Routes</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_SCHEDULES')" th:href="@{/schedules/get}"
                                   href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                                    <span th:text="#{schedules}">Schedules</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_TRIPS')" th:href="@{/trips/get}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-road"></i></div>
                                    <span th:text="#{trips}">Trips</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_TRIPS')" th:href="@{/tripReference/details}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fas fa-ellipsis-h"></i></div>
                                    <span>Trip Reference</span></a>

                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTicket" aria-expanded="false" aria-controls="collapseUser">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            <span th:text="#{ticketManagement}">Ticket Management</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a>
                        <div class="collapse" id="collapseTicket" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_TICKETS')"
                                   th:href="@{/tickets/get}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-ticket-alt"></i></div>
                                    <span th:text="#{tickets}">Tickets</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_TICKETS')"
                                   th:href="@{/ticketReference/details}">
                                    <div class="sb-nav-link-icon"><i class="fa fa-ellipsis-h"></i></div>
                                    <span>Ticket Reference</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_TICKETS')"
                                   th:href="@{/refunds/get}">
                                    <div class="sb-nav-link-icon"><i class="fa fa-retweet"></i></div>
                                    <span th:text="#{refunds}">Refunds</span></a>
                                <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_TICKETS')"
                                   th:href="@{/reassignTicket}">
                                    <div class="sb-nav-link-icon"><i class="fa fa-sync-alt"></i></div>
                                    <span th:text="#{reassignTicket}">Reassign Ticket</span></a>

                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTicketTill" aria-expanded="false" aria-controls="collapseTicketTill">
                            <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                            <span th:text="#{ticketTill}">Ticket Till</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseTicketTill" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_TICKET_TILL')" th:href="@{/ticket-till/status}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fa fa-circle"></i></div>
                                    <span th:text="#{tillStatus}">Status</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_TICKET_TILL')" th:href="@{/ticket-till/approved}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fa fa-circle"></i></div>
                                    <span th:text="#{approvedTills}">Approved</span></a>
                                <a class="nav-link" sec:authorize="hasAuthority('UPDATE_TICKET_TILL')" th:href="@{/ticket-till/approval}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fa fa-circle"></i></div>
                                    <span th:text="#{tillApprovals}">Approvals</span></a>

                            </nav>
                        </div>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_TRANSACTIONS')" th:href="@{/transactions/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                            <span th:text="#{transactions}">Transactions</span></a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_SETTLEMENTS')" th:href="@{/reports/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            <span th:text="#{settlements}">Settlements</span></a>

                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_FEE_CONFIGURATIONS')" th:href="@{/fees/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                            <span th:text="#{feeConfig}">Fee Configurations</span></a>

                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_CONFIGURATIONS')" th:href="@{/configurations/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                            <span th:text="#{settings}">Settings</span></a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_BLACKLISTS')" th:href="@{/blacklists/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-ban"></i></div>
                            <span th:text="#{blacklists}">Blacklists</span></a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small" th:text="#{logged-in}">Logged in as:</div>
            <span sec:authentication="name">Company Name</span>
        </div>
    </nav>
</div>
</html>