<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="sidebar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark full-height" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav"><!--sec:authorize="hasAnyAuthority('VIEW_REGULATORS', 'VIEW_OPERATORS')"-->
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" th:href="@{/dashboard}" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard</a>
                <div class="sb-sidenav-menu-heading">Management</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    User Management
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseUser" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_ADMINISTRATORS')" th:href="@{/users/get?role=ISW_ADMIN}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Administrators</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_REGULATORS')" th:href="@{/users/get?role=REGULATOR}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Regulators</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_OPERATORS')" th:href="@{/users/get?role=OPERATOR}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Operators</a>
                        <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_SERVICE_PROVIDERS')"
                           th:href="@{/users/get?role=SERVICE_PROVIDER}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Service Providers</a>
                        <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_INSPECTORS')"
                           th:href="@{/users/get?role=INSPECTOR}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Inspectors</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_DRIVERS')" th:href="@{/users/get?role=DRIVER}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Drivers</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_AGENTS')" th:href="@{/users/get?role=AGENT}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Agents</a>
                        <a class="nav-link" href="#" sec:authorize="hasAuthority('VIEW_TICKETERS')"
                           th:href="@{/users/get?role=TICKETER}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Ticketers</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_VEHICLE_OWNERS')" th:href="@{/users/get?role=VEHICLE_OWNER}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Vehicle Owners</a>
                    </nav>
                </div>

                <div data-parent="#sidenavAccordion">
                    <nav class=".sb-sidenav-menu nav">
                        <!--<a class="nav-link" sec:authorize="hasAuthority('VIEW_WALLET_DETAILS')" th:href="@{/wallets/details}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-wallet"></i></div>
                            Wallet</a>-->
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_CARDS')" th:href="@{/cards/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>
                            Cards</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_DEVICES')" th:href="@{/devices/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-tablet-alt"></i></div>
                            Devices</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_VEHICLE_CATEGORIES')" th:href="@{/vehicleCategories/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-bus-alt"></i></div>
                            Vehicle Categories</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_VEHICLES')" th:href="@{/vehicles/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-bus-alt"></i></div>
                            Vehicles</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_TERMINALS')" th:href="@{/terminals/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-memory"></i></div>
                            Terminals</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_ROUTES')" th:href="@{/routes/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-route"></i></div>
                            Routes</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_TRIPS')" th:href="@{/trips/get}"
                           href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-road"></i></div>
                            Trips</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_SCHEDULES')" th:href="@{/schedules/get}"
                           href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                            Schedules</a>
                        <a class="nav-link" th:href="@{/tickets/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-memory"></i></div>
                            Bookings</a>

                        <!--
                        ticket till start
                        -->

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTicketTill" aria-expanded="false" aria-controls="collapseTicketTill">
                            <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                            Ticket Till
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseTicketTill" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" sec:authorize="hasAuthority('VIEW_TICKET_TILL')" th:href="@{/ticket-till/status}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fa fa-circle"></i></div>
                                    Status</a>

                                <a class="nav-link" sec:authorize="hasAuthority('UPDATE_TICKET_TILL')" th:href="@{/ticket-till/approval}" href="#">
                                    <div class="sb-nav-link-icon"><i class="fa fa-circle"></i></div>
                                    Approval</a>

                            </nav>
                        </div>

                        <!--
                        ticket till end
                        -->
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_TRANSACTIONS')" th:href="@{/transactions/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                            Transactions</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_SETTLEMENTS')" th:href="@{/reports/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Settlements</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_CONFIGURATIONS')" th:href="@{/configurations/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                            Settings</a>
                        <a class="nav-link" sec:authorize="hasAuthority('VIEW_BLACKLISTS')" th:href="@{/blacklists/get}" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-ban"></i></div>
                            Blacklists</a>

                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <span sec:authentication="name">Company Name</span>
        </div>
    </nav>
</div>
</html>