<!DOCTYPE html>
<html layout:decorate="~{layouts/default.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<title layout:fragment="title">User Approvals</title>
<div class="card mb-4" layout:fragment="content">
    <div class="card-header"><i class="fas fa-check mr-1"></i><span>Approve User Requests</span></div>
    <div class="card-body">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b><span>Approve User Requests</span></b></h2>
                    </div>
                </div>
            </div>
            <br>
            <div th:replace="fragments/alert-success :: alert-success (message=${success})"></div>
            <div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
            <table cellspacing="0" class="table table-bordered table-responsive" id="dataTable" width="100%">
                <thead class='thead-light'>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Email Address</th>
                    <th>Mobile Number</th>
                    <th>Role</th>
                    <th>Signup Type</th>
                    <th>Approve</th>
                    <th>Decline</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="approval : ${approvals}">
                    <td th:text="${approval.usr.firstName}"></td>
                    <td th:text="${approval.usr.lastName}"></td>
                    <td th:text="${approval.usr.address}"></td>
                    <td th:text="${approval.usr.email}"></td>
                    <td th:text="${approval.usr.mobileNo}"></td>
                    <td th:text="${approval.usr.role}"></td>
                    <td th:text="${approval.signUpType}"></td>
                    <td>
                        <a class="justify-content-center" th:href="@{/users/approve/{id}(id=${approval.id})}">
                            <button class="btn btn-outline-primary btn-sized"
                                    th:disabled="${approval.approved or approval.declined}"
                                    th:text="${approval.approved ? 'Approved' : 'Approve'}" type="button">Approve
                            </button>
                        </a>
                    </td>
                    <td>
                        <a class="justify-content-center" th:href="@{/users/decline/{id}(id=${approval.id})}">
                            <button class="btn btn-outline-danger btn-sized"
                                    th:disabled="${approval.approved or approval.declined}"
                                    th:text="${approval.declined ? 'Declined' : 'Decline'}" type="button">Decline
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>