<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title" th:text="${title}">Users</title>
<div layout:fragment="content" class="card mb-4">
		<div class="card-header"><i class="fas fa-user mr-1"></i><span th:text="${title}">Users</span></div>
		<div class="card-body">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-4">
							<h2><b>View <span th:text="${title}">User</span></b></h2>
						</div>
						<div class="col-sm-8">
							<a th:href="@{/users/update/{id}(id=${user.id})}">
								<button type='button' class='btn btn-outline-info'><i class='fas fa-edit'></i>Edit </button>
							</a>
						</div>
					</div>
				</div>
				<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{${saved_message}} : (${updated} ? #{${updated_message}} : false))"></div>

				<div class="card p-3">

					<div class="row">
						<div id="formContainerDiv" class="col-8">

							<div class="form-group row">
								<label class="col-sm-2" for="firstName">First Name</label>
								<div class="col-sm-10">
									<span id="firstName" th:text="${user.firstName}"></span></div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2" for="lastName">Last Name</label>
								<div class="col-sm-10">
									<span id="lastName" th:text="${user.lastName}"></span></div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2" for="email">Email Address</label>
								<div class="col-sm-10">
									<span id="email" th:text="${user.email}"></span></div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2" for="mobileNo">Mobile Number</label>
								<div class="col-sm-10"><span id="mobileNo" th:text="${user.mobileNo}"></span></div>
							</div>

							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="owner">Owner</label>
								<div class="col-sm-10">
									<span id="owner" th:text="${user.owner != null ? user.owner.username : ''}"></span>
								</div>
							</div>
							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="regulators">Regulators</label>
								<div class="col-sm-10">
									<span id="regulators" th:text="${regulators_no}"></span> &emsp;
									<a href="#" th:href="@{'/users/get?role=REGULATOR&owner=' + ${user.id}}" th:if="${regulators_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>
							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="operators">Operators</label>
								<div class="col-sm-10">
									<span id="operators" th:text="${operators_no}"></span> &emsp;
									<a href="#" th:href="@{'/users/get?role=OPERATOR&owner=' + ${user.id}}" th:if="${operators_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>
							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="agents">Agents</label>
								<div class="col-sm-10">
									<span id="agents" th:text="${agents_no}"></span> &emsp;
									<a href="#" th:href="@{'/users/get?role=AGENT&owner=' + ${user.id}}" th:if="${agents_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>
							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="devices">Devices</label>
								<div class="col-sm-10">
									<span id="devices" th:text="${devices_no}"></span> &emsp;
									<a href="#" th:href="@{'/devices/get?owner=' + ${user.id}}" th:if="${devices_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>
							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="cards">Cards</label>
								<div class="col-sm-10">
									<span id="cards" th:text="${cards_no}"></span> &emsp;
									<a href="#" th:href="@{'/cards/get?owner=' + ${user.id}}" th:if="${cards_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>
							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="vehicles">Vehicles</label>
								<div class="col-sm-10">
									<span id="vehicles" th:text="${vehicles_no}"></span> &emsp;
									<a th:href="@{'/vehicles/get?owner=' + ${user.id}}" th:if="${vehicles_no}" class="btn btn-primary" href="#"> <i class='far fa-eye'></i></a>
								</div>
							</div>

							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="terminals">Terminals</label>
								<div class="col-sm-10">
									<span id="terminals" th:text="${terminals_no}"></span> &emsp;
									<a href="#" th:href="@{'/terminals/get?owner=' + ${user.id}}"  th:if="${terminals_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>

							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="routes">Routes</label>
								<div class="col-sm-10">
									<span id="routes" th:text="${routes_no}"></span> &emsp;
									<a href="#" th:href="@{'/routes/get?owner=' + ${user.id}}" th:if="${routes_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>

							<div class="form-group row" th:if="${isOwned}">
								<label class="control-label col-sm-2" for="transactions">Transactions</label>
								<div class="col-sm-10">
									<span id="transactions" th:text="${transactions_no}"></span> &emsp;
									<a href="#" th:href="@{'/transactions/get?owner=' + ${user.id}}" th:if="${transactions_no}" class="btn btn-primary"> <i class='far fa-eye'></i></a>
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-2" for="enabled">Active</label>
								<div class="col-sm-10">
									<label class="switch">
										<input type="checkbox" id="enabled" name="enabled" th:checked="${user.enabled}" disabled>
										<span class="slider round"></span>
									</label>
									</span>
								</div>
							</div>

						</div>

						<div id="pictureContainerDiv"  class="col-4">

							<div>
								<img style="width:100%;height:100%;" id="imgLogo" th:src="@{user.pictureUrl}" alt="User Picture">
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</html>