<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title" th:text="${title}">Users</title>
<div layout:fragment="content" class="card mb-4">
		<div class="card-header"><i class="fas fa-user mr-1"></i><span th:text="${title}">Users</span></div>
		<div class="card-body">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-8">
							<h2><b><span th:text="${title}">Users</span></b></h2>
						</div>
						<div class="col-sm-4">
							<div class="row">
								<a href="#" th:href="${'/users/create?role=' + role}" class="btn btn-info"><i class="fas fa-plus" aria-hidden="true"></i> Add New</a>
								<a href="#" class="btn btn-info"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refresh List</a>
								<a href="#" class="btn btn-info"><i class="fas fa-file-import"  aria-hidden="true"></i> Import Users CSV</a>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/alert-success :: alert-success (message=${deleted} ? #{${deleted_message}} : false)"></div>
				<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
				<table class="table table-bordered table-responsive-sm" id="dataTable" width="100%" cellspacing="0">
					<thead class='thead-light'>
						<tr>
							<th>Id</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email Address</th>
							<th th:if="${isOwned}">Owner</th>
							<th>Active</th>
							<th>View Details</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${userPage.content}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${user.email}"></td>
							<td th:if="${isOwned}" th:text="${user.owner != null ? user.owner.username : ''}"></td>
							<td>
								<label class="switch">
									<input type="checkbox" id="enabled" name="enabled" th:checked="${user.enabled}" disabled>
									<span class="slider round"></span>
								</label>
							</td>
							<td>
								<a class="justify-content-center" th:href="@{/users/details/{id}(id=${user.id})}">
									<button type='button' class='btn btn-primary btn-sm'><i class='far fa-eye'></i></button>
								</a>
							</td>
							<td>
								<a class="justify-content-center" th:href="@{/users/delete/{id}(id=${user.id})}">
									<button type='button' class='btn btn-danger btn-sm'><i class='far fa-trash-alt'></i></button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div th:if="${userPage.totalPages > 0}" class="pagination"
					 th:each="pageNumber : ${pageNumbers}">
					<a th:href="@{/get(size=${userPage.size}, page=${pageNumber})}"
					   th:class="${pageNumber==userPage.number + 1} ? active"><button class='btn btn-outline-default' th:text=${pageNumber}></button></a>
				</div>
			</div>
<!--
            <div th:replace="@{/fragments/error} :: error"></div>
-->
        </div>
	</div>
</html>