<!-- TITLE FRAGMENT BEGINS -->
<title th:fragment="title" th:text="${#themes.code('client')} + ' | Change Password'">Change Password</title>
<!-- /TITLE FRAGMENT ENDS -->

<!-- CONTENT FRAGMENT BEGINS -->
<div th:fragment="content" class="login-container col-lg-4 col-md-4 col-md-push-4 col-lg-push-4 col-xs-12 col-sm-8 col-sm-push-2">
    <div class="h1 text-center">Change Password</div>

    <div class="alert alert-info" role="alert"
         th:if="${message}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="ion ion-information-circled ion-background"></i>
        <span class="alert-content" th:text="${message}">Message</span>
    </div>

    <div class="alert alert-danger" role="alert"
         th:if="${error}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="ion ion-alert-circled ion-background"></i>
        <span class="alert-content" th:text="${error}">Error</span>
    </div>

    <div class="login-card card container-fluid">
        <form id="password-form" method="post" th:action="@{/change-password}"
              th:object="${userAccountForm}" data-parsley-validate="true" autocomplete="off">
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Current Password"
                       id="oldPassword" name="oldPassword" th:field="*{oldPassword}"
                       required="required"
                       data-parsley-required-message="Please provide your current password" />

                <p class="small text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">
                    Please provide your current password</p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg strengthify" placeholder="New Password"
                       id="password" name="password" th:field="*{password}"
                       required="required"
                       data-parsley-required-message="Please provide a password"
                       data-parsley-notequalto="#oldPassword"
                       data-parsley-notequalto-message="Provided password is the same as provided current password. Please provide a different password"/>

                <p class="small text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Please provide a password</p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Confirm Password"
                       id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}"
                       required="required"
                       data-parsley-required-message="Please confirm your password"
                       data-parsley-equalto="#password"
                       data-parsley-equalto-message="Confirm password does not match provided password" />

                <p class="small text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                    Please confirm your password</p>
            </div>
            <a th:href="@{/cancel}"
               class="btn btn-dark-blue btn-high pull-left">Cancel</a>
            <button type="submit" class="btn btn-dark-blue btn-high btn-spin pull-right">Continue</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:replace="fragments/access :: inputs"></div>
        </form>
    </div>
</div>
<!-- /CONTENT FRAGMENT ENDS -->