<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Error</title>
    <!--
        <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link th:href="@{/css/styles.css}" href="#" rel="stylesheet" crossorigin="anonymous" />
</head>
<body>
<div class="wrapper">
    <div class="container-fluid red-border-top">
        <div th:fragment="content">
            <div class="error-image col-lg-6 col-md-6 col-sm-3 col-xs-12"></div>
            <div class="error-content col-lg-push-6 col-md-push-6 col-sm-push-3 col-lg-6 col-md-6 col-sm-9 col-xs-12">
                <div class="text-content">
                    <div th:if="${status}" class="h3">
                        <span th:text="${status}">500</span>
                    </div>

                    <div th:if="${error}" class="h4">
                        Error: <span th:text="${error}">server_error</span>
                    </div>

                    <div th:if="${message}" class="h4">
                        <span th:text="${message}">Something went wrong. Please bear with us while we fix it</span>
                    </div>

                    <br />

                    <a th:href="@{/dashboard}" class="btn btn-primary btn-high create-btn">
                        <i class="fas fa-arrow-left mr-1"></i>Return to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>