<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="Index">Error</title>

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="#" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" href="#" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link th:href="@{/css/agency.min.css}" href="#" rel="stylesheet">
    <link th:href="@{/css/styles.css}" href="#" rel="stylesheet" crossorigin="anonymous" />
</head>
<body>
    <div>
        <div>
            <br />
            <div class="error-image"></div>
            <br />
            <div class="error-content">
                <div class="text-content">
                    <div class="h4"><i class="fas fa-exclamation-triangle red"></i> <b>Oops. An error occurred.</b></div>
                        <h4><b>Code: <span th:if="${status}" th:text="${status}">500</span></b></h4>
                        <h4><b>Message: <span th:if="${error}" th:text="${error}">server_error</span></b></h4>
                            <br>
                    <a th:href="@{/dashboard}" class="btn btn-primary btn-high create-btn">
                        <i class="fas fa-arrow-left mr-1"></i>Return to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script th:src="@{/js/agency.min.js}"></script>
</body>
</html>