<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Forgot Password</title>

    <link href="#" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="#" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'-->
    <!--          type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->

    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>
<nav class="navbar navbar-light bg-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand ms-lg-5" href="#"><img alt="smartMove Logo" class="logo" height="30"
                                                      th:src="@{'/assets/img/smartmove-logo.png'}" width="100"/></a>
    </div>
</nav>

<div class="forgot__password-container">
    <div class="container">
        <div class="row align-items-center justify-content-center my-5">
            <div class="col my-5">
                <div class="m-auto  inter-form py-5 px-5 rounded shadow-lg">
                    <div class="form-header">
                        <h1 class="h3 smart-bold-700">Forgot Password?</h1>
                        <p class=" text-secondary">
                            Enter the <span class="smart-color-blue">email</span> linked to your account to reset
                            password.
                        </p>
                    </div>

                    <div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
                    <div th:replace="fragments/alert-success :: alert-success (message=${message})"></div>

                    <form method="post" th:action="${'/forgotpassword'}" th:object="${passwordReset}">
                        <div class="mb-3">
                            <label class="form-label " for="username">Email</label>
                            <input
                                    class="form-control shadow-none"
                                    id="username"
                                    name="username"
                                    placeholder="Enter email"
                                    type="text"
                            />
                        </div>
                        <div class="w-100">
                            <button class="w-100 btn smart-bg-blue text-light" id="submitForgotPassword"><b>Submit</b>
                            </button>
                        </div>
                        <div class="my-4">
                            <p class=" text-secondary">
                                Don't have an account?
                                <a class="smart-color-blue" th:href="@{'/signup'}"
                                ><b>Sign up</b></a
                                >
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <p class="">Contact Support</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col" id="img-container">
                <img alt="SmartMove Bus" class="rounded inter-img" style="margin-top: 70px;"
                     th:src="@{'/assets/img/smartmove-bus.png'}"/>
            </div>
        </div>
    </div>
</div>

</body>

</html>