<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Sign Up</title>

    <link href="#" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="#" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div style="padding:100px 0 40px 0;text-align:center;">
            <img alt="Interswitch Logo" th:src="@{'/assets/img/interswitchngnew.png'}"/>
        </div>
        <div style="font-size:0.9rem;text-align:center;">
            Sign up for your Smartmove account. <a class="js-scroll-trigger" th:href="@{/}">Learn more.</a>
        </div>
        <br>
        <div class="card p-3">
            <br><br>
            <div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
            <div th:replace="fragments/alert-success :: alert-success (message=${message})"></div>

            <form action="#" data-parsley-validate="true" method="post"
                  th:action="${'/signup'}" th:object="${user}">
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="role"><b>Role</b></label>
                    <div class="col-sm-9">
                        <select class="form-control form-control-full" id="role" th:field="*{role}">
                            <option value="">Select...</option>
                            <option th:each="role : ${roles}" th:text="${role}"
                                    th:value="${role}"></option>
                        </select>
                        <p class="small text-danger" th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="owner"><b>Referrer</b></label>
                    <div class="col-sm-9">
                        <input class="form-control form-control-full" id="owner" th:field="*{owner}" type="text"/>
                        <p class="small text-danger" th:errors="*{owner}" th:if="${#fields.hasErrors('owner')}"></p>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-3" for="address"><b>Address</b></label>
                    <div class="col-sm-9">
                        <input class="form-control form-control-full"
                               id="address"
                               name="address"
                               required
                               th:field="*{address}">
                        <p class="small text-danger" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></p>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-sized" style="background-color:#00425f" type="submit">Sign Up
                </button>
                <br>
                <div style="font-size:0.9rem;text-align:center;">
                    Already have an account? <a class="js-scroll-trigger" th:href="@{/oauth/authorize/passport}">Sign
                    In</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
</html>