<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>Sign Up</title>

    <link href="#" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="#" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'-->
    <!--          type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->

    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/custom.css}" />
</head>

<body>
    <nav class="navbar navbar-light smart-bg-light shadow-sm fixed-top">
        <div class="container">
            <a class="navbar-brand ms-lg-5" href="#"><img alt="smartMove Logo" class="logo" height="30"
                    th:src="@{'/assets/img/smartmove-logo.png'}" width="100" /></a>
        </div>
    </nav>
    <div class="signup-container">
        <div class="container">
            <div class="row align-items-center justify-content-center my-5">
                <div class="col-sm-12 col-md-6 mb-3 my-5">
                    <div class="m-auto inter-form py-5 px-5 rounded shadow-lg">
                        <div class="form-header">
                            <h1 class="h3 smart-bold-700">Sign Up</h1>
                            <p class=" text-secondary smart-text-normal">
                                Create an account to get started
                            </p>
                        </div>

                        <div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
                        <div th:replace="fragments/alert-success :: alert-success (message=${message})"></div>
                        <form action="#" data-parsley-validate="true" method="post" th:action="${'/signupnew'}"
                            th:object="${user}">
                            <div class="mb-3">
                                <label class="form-label " for="fullName">Full name</label>
                                <input class="form-control shadow-none" data-parsley-length="[3, 40]"
                                    data-parsley-length-message="Please provide a name between 3 and 40 characters long"
                                    data-parsley-required-message="Please provide your full name" id="fullName"
                                    name="fullName" placeholder="Firstname and Lastname" required th:field="*{fullName}"
                                    type="text" />
                                <p class=" text-danger" th:errors="*{fullName}"
                                    th:if="${#fields.hasErrors('fullName')}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label " for="email">Email</label>
                                <input class="form-control shadow-none" data-parsley-maxlength="70"
                                    data-parsley-maxlength-message="Please provide an email no more than 70 characters long"
                                    data-parsley-required-message="Please provide your email address" id="email"
                                    placeholder="Enter mail address" required th:field="*{email}" type="email" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label " for="phone">Phone Number</label>
                                <input class="form-control shadow-none"
                                    data-parsley-error-message="Please provide a valid mobile number"
                                    data-parsley-pattern="^((\+|00)?[1-9]|0)\d{1,14}$" id="phone" name="mobileNo"
                                    placeholder="Enter phone number" th:field="*{mobileNo}" type="phone" required />
                                <p class="small text-danger" th:errors="*{mobileNo}"
                                    th:if="${#fields.hasErrors('mobileNo')}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label " for="role">Role</label>

                                <select required class="form-control shadow-none" id="role" name="role"
                                    th:field="*{role}">
                                    <option value="">Select...</option>
                                    <option th:each="role : ${roles}" th:text="${role}" th:value="${role}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label " for="referral">Referral</label>
                                <input class="form-control shadow-none" id="referral" placeholder="Enter referral"
                                 th:field="*{owner}" type="text" />
                                <p class=" text-danger" th:errors="*{owner}" th:if="${#fields.hasErrors('owner')}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label " for="address">Address</label>
                                <input class="form-control shadow-none" id="address" name="address"
                                    placeholder="Enter address" th:field="*{address}" type="text" required />
                                <p class="small text-danger" th:errors="*{address}"
                                    th:if="${#fields.hasErrors('address')}"></p>
                            </div>
                            <div class="mb-3 position-relative password">
                                <label class="form-label " for="password">Password</label>
                                <input class="form-control shadow-none" id="password" name="password"
                                    placeholder="Enter password" th:field="*{password}" type="password" required />
                                <i class="far fa-eye position-absolute" id="togglePassword" style="cursor: pointer"></i>

                                <p class="small text-danger" th:errors="*{password}"
                                    th:if="${#fields.hasErrors('password')}"></p>

                            </div>
                            <!-- <div class="mb-3 position-relative password">
                                <label class="form-label " for="confirmPassword">Confirm Password</label>
                                <input class="form-control shadow-none" id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm password" th:field="*{password}" type="password" required />
                                <i class="far fa-eye position-absolute" id="togglePassword" style="cursor: pointer"></i>

                                <p class="small text-danger" th:errors="*{password}"
                                    th:if="${#fields.hasErrors('password')}"></p>

                            </div> -->
                            <div class="w-100" style="margin: 2.3rem 0;">
                                <button class="w-100 btn btn-sm smart-bg-blue text-light">
                                    <b>Create account</b>
                                </button>
                            </div>
                            <div class="my-3">
                                <p class=" text-secondary">
                                    Already have an account?
                                    <a class="smart-color-blue" th:href="@{/login}"><b>Login</b></a>
                                </p>
                                <p class=""><b>Contact Support</b></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-sm-none d-md-block" id="img-container">
                    <img alt="SmartMove Bus" class="rounded inter-img" th:src="@{'/assets/img/smartmove-bus.png'}" />
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{js/passwordVisibility.js}" type="text/javascript">
    </script>
</body>

</html>