<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>Update Password</title>

    <link href="#" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="#" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'-->
    <!--          type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->

    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/custom.css}" />
</head>

<body>
    <div th:replace="fragments/smart-move-navbar :: smart-move-navbar"></div>
    <div class="update__password-container">
        <div class="container">
            <div class="row align-items-center justify-content-center my-5">
                <div class="col my-5">
                    <div class="m-auto inter-form py-5 px-5 rounded shadow-lg">
                        <div class="form-header">
                            <h1 class="h3 smart-bold-700">Update Password</h1>
                            <p class="smart-text-normal text-secondary">
                                Enter new password.
                            </p>
                        </div>
                        <form action="" id="updatePasswordForm">
                            <div class="mb-3 passwordErr text-center" role="alert">
                                
                            </div>
                            <div class="mb-3 position-relative password">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label smart-text-normal" for="password">New Password</label> 
                                </div>
                                <input type="password" class="form-control shadow-none" id="newUpdatePassword" required
                                    placeholder="Enter new password" />
                                <i class="far fa-eye position-absolute" id="toggleNewPassword" style="cursor: pointer"></i>
                            </div>
                            <div class="mb-3 position-relative password">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label smart-text-normal" for="confirmPassword">Confirm
                                        Password</label>
                                </div>
                                <input type="password" class="form-control shadow-none" id="confirmUpdatePassword"
                                    placeholder="Confirm password" required />
                                <i class="far fa-eye position-absolute" id="toggleConfirmPassword"
                                    style="cursor: pointer"></i>
                            </div>
                            
                            <div class="w-100">
                                <button class="w-100 btn smart-bg-blue text-light shadow-none"
                                    id="submitUpdatePassword"><b>Submit</b>
                                </button>
                            </div>
                            <!-- <div class="my-4">
                                <p class="smart-text-normal text-secondary">
                                    Don't have an account?
                                    <a class="smart-color-blue" href="/signup.html"><b>Sign up</b></a>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <p class="smart-text-normal">Contact Support</p>
                                </div>
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="col" id="img-container">
                    <img alt="SmartMove Bus" class="rounded inter-img" th:src="@{'/assets/img/smartmove-bus.png'}" />
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{js/passwordConfirmation.js}" type="text/javascript">
    </script>
    <script th:src="@{js/passwordVisibility.js}" type="text/javascript">
    </script>
</body>

</html>