<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default.html}">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Update Password</title>

    <link href="#" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="#" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'-->
    <!--          type='text/css'>-->
    <!--    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->

    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>
<nav class="navbar navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand ms-lg-5" href="#"><img class="logo" th:src="@{'/assets/img/smartmove-logo.png'}" alt="smartMove Logo" width="100" height="30"/></a>
    </div>
</nav>
<div class="update__password-container">
    <div class="container">
        <div class="row align-items-center justify-content-center my-5">
            <div class="col">
                <div class="m-auto w-75  inter-form py-3 px-4 rounded shadow-lg">
                    <div class="form-header">
                        <h1 class="h3">Update Password</h1>
                        <p class="small text-secondary">
                            Enter new password.
                        </p>
                    </div>
                    <form action="">
                        <div class="mb-3 position-relative password">
                            <label for="password" class="form-label small"
                            >New Password</label
                            >
                            <input
                                    type="password"
                                    class="form-control form-control-sm shadow-none"
                                    id="password"
                                    placeholder="Enter new password"
                            />
                            <i
                                    class="far fa-eye position-absolute"
                                    id="togglePassword"
                                    style="cursor: pointer"
                            ></i>
                        </div>
                        <div class="mb-3 position-relative password">
                            <label for="confirmPassword" class="form-label small"
                            >Confirm Password</label
                            >
                            <input
                                    type="password"
                                    class="form-control form-control-sm shadow-none"
                                    id="confirmPassword"
                                    placeholder="Confirm password"
                            />
                            <i
                                    class="far fa-eye position-absolute"
                                    id="toggleConfirmPassword"
                                    style="cursor: pointer"
                            ></i>
                        </div>
                        <small class="password-error text-danger my-2" style="font-size: 14px;"></small>
                        <div class="w-100">
                            <button class="w-100 btn btn-sm smart-bg-blue text-light shadow-none" id="submitUpdatePassword"><b>Submit</b></button>
                        </div>
                        <div class="my-3">
                            <p class="small text-secondary">
                                Don't have an account?
                                <a class="smart-color-blue" href="/signup.html"
                                ><b>Sign up</b></a
                                >
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <p class="small">Contact Support</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col" id="img-container">
                <img class="rounded inter-img" th:src="@{'/assets/img/smartmove-bus.png'}" alt="SmartMove Bus"/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{js/passwordVisibility.js}">

</script>
</body>

</html>