<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>Email verification Successful</title>

    <link href="#" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="#" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">

    <link crossorigin="anonymous" href="#" rel="stylesheet" th:href="@{/css/custom.css}" />
</head>

<body>
    <nav class="navbar navbar-light smart-bg-light shadow-sm fixed-top">
        <div class="container">
            <a class="navbar-brand ms-lg-5" href="#"><img alt="smartMove Logo" class="logo" height="30"
                    th:src="@{'/assets/img/smartmove-logo.png'}" width="100" /></a>
        </div>
    </nav>
    <div style="display: flex; height: 80vh; justify-content: center; align-items: center; ">
        <div class="text-center">
            <h1>Email verification Successful</h1>
            <h5>
                <div th:text="${message}"></div>
            </h5>
            <div class="img-container" style="margin-top: 40px; text-align:center">
                <img alt="Success Mark" class="inter-img" style="width: 200px; height: 200px;"
                    th:src="@{/assets/img/check.png}" />
            </div>
        </div>
    </div>
</body>

</html>