<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Routes</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-route mr-1"></i>
		<span>Routes</span></div>
	<div class="card-body">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-4">
					<h2> <b> Create New Route</b></h2>
				</div>

			</div>
		</div>
		<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
		<form class="card p-3" action="#" method="post"
			  th:action="@{/routes/create}" th:object="${route}"
			  data-parsley-validate="true">
			<div class="form-group row">
				<label class="control-label col-sm-2" for="type">Transport Mode</label>
				<div class="col-sm-10">
					<select class="form-control" th:field="*{type}"  id="type" required>
						<option value="">Select...</option>
						<option value="BUS">Bus</option>
						<option value="CAR">Car</option>
						<option value="RAIL">Rail</option>
						<option value="FERRY">Ferry</option>
					</select></div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="startTerminalId">Start Terminal</label>
				<div class="col-sm-10">
					<select class="form-control" th:field="*{startTerminalId}" id="startTerminalId" required>
						<option value="">Select...</option>
						<option th:each="terminal : ${terminals}" th:value="${terminal.id}" th:text="${terminal != null ? terminal.name : ''}"></option>
					</select>
					<p class="small text-danger" th:if="${#fields.hasErrors('startTerminalId')}" th:errors="*{startTerminalId}"></p>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="stopTerminalId">Stop Terminal</label>
				<div class="col-sm-10">
					<select class="form-control" th:field="*{stopTerminalId}" id="stopTerminalId" required>
						<option value="">Select...</option>
						<option th:each="terminal : ${terminals}" th:value="${terminal.id}" th:text="${terminal != null ? terminal.name : ''}"></option>
					</select>
					<p class="small text-danger" th:if="${#fields.hasErrors('stopTerminalId')}" th:errors="*{stopTerminalId}"></p>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="price">Price</label>
				<div class="col-sm-10">
					<input class="form-control" th:field="*{price}" id="price" required>
					<p class="small text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="owner">Owner</label>
				<div class="col-sm-10">
					<select class="form-control" th:field="*{owner}"  id="owner" required>
						<option value="">Select ...</option>
						<option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner != null ? owner.username : ''}"></option>
					</select>
					<p class="small text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></p>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="enabled">Active</label>
				<div class="col-sm-10">
					<label class="switch">
						<input type="checkbox" name="enabled" id="enabled">
						<span class="slider round"></span>
					</label>
				</div>
			</div>

            <!--&lt;!&ndash;TODO:Multi select dropdown&ndash;&gt;
            <div class="form-group row">
                <label class="control-label col-sm-2" for="vehicle">Assign Route To Vehicle</label>
                <div class="col-sm-10">
                    <select class="form-control" name="vehicle" id="vehicle">
                        <option value="">Select...</option>
                        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle != null ? vehicle.name : ''}"></option>
                    </select>
                </div>
            </div>-->
			<div class="row">
				<div class="col-sm-10"></div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-outline-primary btn-sized">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
</html>