<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}">
<title layout:fragment="title">Routes</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-route mr-1"></i>
		<span>Routes</span></div>
	<div class="card-body">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-4">
					<h2> <b> Create New Route</b></h2>
				</div>
			</div>
		</div>
		<br>
		<div th:replace="fragments/alert-error :: alert-error (error=${error})"></div>
		<form class="card p-3" action="#" method="post"
			  th:action="@{/routes/create}" th:object="${route}"
			  data-parsley-validate="true">
			<div class="form-group row">
                <label class="control-label col-sm-2" for="mode"><b>Transport Mode</b></label>
				<div class="col-sm-10">
                    <select class="form-control" id="mode" required th:field="*{mode}">
						<option value="">Select...</option>
						<option value="BUS">Bus</option>
						<option value="CAR">Car</option>
						<option value="RAIL">Rail</option>
						<option value="FERRY">Ferry</option>
                    </select>
                </div>
			</div>
			<div class="form-group row">
                <label class="control-label col-sm-2" for="startTerminal"><b>Departure Terminal</b></label>
				<div class="col-sm-10">
                    <select class="form-control" id="startTerminal" required th:field="*{startTerminal}">
						<option value="">Select...</option>
                        <option th:each="terminal : ${terminals}" th:text="${terminal != null ? terminal.name : ''}"
                                th:value="${terminal.id}"></option>
					</select>
                    <p class="small text-danger" th:errors="*{startTerminal}"
                       th:if="${#fields.hasErrors('startTerminal')}"></p>
				</div>
			</div>

			<div class="form-group row">
                <label class="control-label col-sm-2" for="stopTerminal"><b>Arrival Terminal</b></label>
				<div class="col-sm-10">
                    <select class="form-control" id="stopTerminal" required th:field="*{stopTerminal}">
						<option value="">Select...</option>
                        <option th:each="terminal : ${terminals}" th:text="${terminal != null ? terminal.name : ''}"
                                th:value="${terminal.id}"></option>
					</select>
                    <p class="small text-danger" th:errors="*{stopTerminal}"
                       th:if="${#fields.hasErrors('stopTerminal')}"></p>
				</div>
			</div>
			<div class="form-group row">
                <label class="control-label col-sm-2" for="fare"><b>Price</b></label>
				<div class="col-sm-10">
                    <input class="form-control" id="fare" required th:field="*{fare}">
                    <p class="small text-danger" th:errors="*{fare}" th:if="${#fields.hasErrors('fare')}"></p>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="owner"><b>Owner</b></label>
				<div class="col-sm-10">
					<select class="form-control" th:field="*{owner}"  id="owner" required>
						<option value="">Select ...</option>
						<option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner != null ? owner.username : ''}"></option>
					</select>
					<p class="small text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></p>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="enabled"><b>Active</b></label>
				<div class="col-sm-10">
					<label class="switch">
						<input type="checkbox" name="enabled" id="enabled">
						<span class="slider round"></span>
					</label>
				</div>
			</div>

            <!--&lt;!&ndash;TODO:Multi select dropdown&ndash;&gt;
            <div class="form-group row">
                <label class="control-label col-sm-2" for="vehicle">Assign Route To Vehicle</label>
                <div class="col-sm-10">
                    <select class="form-control" name="vehicle" id="vehicle">
                        <option value="">Select...</option>
                        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle != null ? vehicle.name : ''}"></option>
                    </select>
                </div>
            </div>-->
			<div class="row">
				<div class="col-sm-8"></div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-outline-primary btn-sized">Submit</button>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</form>
	</div>
</div>
</html>