<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default.html}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title layout:fragment="title">Routes</title>
<div layout:fragment="content" class="card mb-4">
	<div class="card-header"><i class="fas fa-route mr-1"></i><span>Routes</span></div>
	<div class="card-body">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-4">
						<h2><b>Route Details</b></h2>
					</div>
					<div class="col-sm-8">
						<a th:href="@{/routes/update/{id}(id=${route.id})}">
							<button type='button' class='btn btn-outline-info'><i class='fas fa-edit'></i>Edit </button>
						</a>
					</div>
				</div>
			</div>
			<br>
			<div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{route.saved.message} : (${updated} ? #{route.updated.message} : false))"></div>
			<div class="card p-3">
				<div class="row">
					<div class="col">
						<div class="form-group row">
							<label class="col-sm-4" for="name"><b>Name</b></label>
							<div class="col-sm-8">
								<span id="name" th:text="${route.name}"></span></div>
						</div>
						<div class="form-group row">
                            <label class="col-sm-4" for="mode"><b>Mode</b></label>
							<div class="col-sm-8">
                                <span id="mode" th:text="${route.mode}"></span></div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4" for="start"><b>Start Terminal</b></label>
							<div class="col-sm-8">
                                <span id="start" th:text="${route.startTerminal.name}"></span></div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4" for="stop"><b>Stop Terminal</b></label>
							<div class="col-sm-8">
                                <span id="stop" th:text="${route.stopTerminal.name}"></span></div>
						</div>
					</div>
					<div class="col">
					<div class="form-group row">
						<label class="control-label col-sm-4" for="owner"><b>Regulator</b></label>
						<div class="col-sm-8">
							<span id="owner" th:text="${route.owner != null ? route.owner.username : ''}"></span></div>
					</div>
					<div class="form-group row">
                        <label class="col-sm-4" for="fare"><b>Price</b></label>
                        <div class="col-sm-8"><span id="fare" th:text="${route.fare}"></span></div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4" for="enabled"><b>Active</b></label>
						<div class="col-sm-8">
							<label class="switch">
								<input disabled id="enabled" name="enabled" th:checked="${route.enabled}"
									   type="checkbox">
								<span class="slider round"></span>
							</label>
							</span></div>
					</div>
				</div>


				</div>
			</div>
		</div>
	</div>
</div>
</html>