<template>
<div class="padded">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-4">
				<h2> <b> Update Route</b></h2>
			</div>
		</div>
	</div>
		<form class="card p-3" action="/action_page.php">
		  <div class="form-group row">
			<label class="control-label col-sm-2" for="name">Name:</label>
			<div class="col-sm-10"><input class="form-control" id="name"></div>
		  </div>
		  <div class="form-group row">
			  <label class="control-label col-sm-2" for="start">Start Terminal:</label>
			      <div class="col-sm-10">
					<select class="form-control" id="start">
						<option>Ikorodu</option>
						<option>Ojota</option>
						<option>Ilupeju</option>
						<option>Ojota</option>
						<option>Berger</option>
						<option>Fadeyi</option>
						<option>Onipan</option>
					</select></div>
		  </div>
		  <div class="form-group row">
			  <label class="control-label col-sm-2" for="stop">Stop Terminal:</label>
			      <div class="col-sm-10">
					<select class="form-control" id="stop">
						<option>Ojota</option>
						<option>Ilupeju</option>
						<option>Ojota</option>
						<option>Berger</option>
						<option>Fadeyi</option>
						<option>Onipan</option>
						<option>Ikorodu</option>
					</select></div>
		  </div>
		  <div class="form-group row">
			<label class="control-label col-sm-2" for="price">Price:</label>
			<div class="col-sm-10"><input type="number" step="0.01" class="form-control" id="price"></div>
		  </div>
				<button type="submit" class="btn btn-outline-info" style="margin:0 40%;">Submit</button>
		</form>
		</div>
</template>