<!DOCTYPE html>
<html layout:decorate="~{layouts/default.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<title layout:fragment="title">Topups</title>
<div class="card mb-4" layout:fragment="content">
    <div class="card-header"><i class="fas fa-list mr-1"></i><span>Topups</span></div>
    <div class="card-body">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b><span>Topups</span></b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <a class="btn btn-info" href="#"><i aria-hidden="true" class="fas fa-sync-alt"></i> Refresh
                                List</a>
                            <a class="btn btn-info" href="#"><i aria-hidden="true" class="fa fa-file-export"></i> Export
                                to Excel</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table cellspacing="0" class="table table-bordered table-responsive" id="dataTable" width="100%">
            <thead class='thead-light'>
                <tr>
                    <th>Topup ID</th>
                    <th>Topup Method</th>
                    <th>Amount (<span th:text="${session.currency} ? ${session.currency} : NGN">&#8358;</span>)</th>
                    <th>Topup Date</th>
                    <th>View Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topup : ${topupPage.content}">
                    <td th:text="${topup.id}"></td>
                    <td th:text="${topup.mode}"></td>
                    <td th:text="${topup.amount}"></td>
                    <td th:text="${topup.topupDateTime}"></td>
                    <td>
                        <a class="justify-content-center" th:href="@{/topups/details/{id}(id=${topup.id})}">
                            <button class='btn btn-primary btn-sm' type='button'><i class='far fa-eye'></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>