<!DOCTYPE html>
<html layout:decorate="~{layouts/default.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<title layout:fragment="title">Ticket Refunds</title>
<div class="card mb-4" layout:fragment="content">
    <div class="card-header"><i class="fas fa-retweet mr-1"></i><span>Ticket Refunds</span></div>
    <div class="card-body">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <h2 class="tabbed"><b> Ticket Refund Details</b></h2>
                </div>
            </div>
            <br>
            <div th:replace="fragments/alert-success :: alert-success (message=${saved} ? #{refund.saved.message} : false)"></div>
            <div class="card p-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-sm-4" for="ref"><b>Ticket Reference</b></label>
                                <div class="col-sm-8">
                                    <span id="ref" th:text="${refund.ticket.referenceNo}"></span></div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-sm-4" for="trip"><b>Trip</b></label>
                                <div class="col-sm-8">
                                    <span id="trip"
                                          th:text="${refund.ticket.schedule.startTerminal.name + ' - ' + refund.ticket.schedule.stopTerminal.name}"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4" for="vehicle"><b>Vehicle</b></label>
                                <div class="col-sm-8">
                                    <span id="vehicle" th:text="${refund.ticket.schedule.vehicle.name}"></span></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4" for="date"><b>Departure</b></label>
                                <div class="col-sm-8">
                                    <span id="date"
                                          th:text="${refund.ticket.schedule.departureDate + ' ' + refund.ticket.schedule.departureTime}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label class="col-sm-4" for="name"><b>Passenger Name</b></label>
                                <div class="col-sm-8">
                                    <span id="name" th:text="${refund.ticket.passengerName}"></span></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4" for="refundDate"><b>Refund Date</b></label>
                                <div class="col-sm-8">
                                    <span id="refundDate" th:text="${refund.refundDateTime}"></span></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4" for="reason"><b>Reason</b></label>
                                <div class="col-sm-8">
                                    <span id="reason" th:text="${refund.reason}"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>